/*
Error: Invalid CSS after "...endor/hashgrid"": expected "{", was "; "
        on line 31 of stylesheets/main.scss

26: 
27: 
28: 
29: // TODO: delete in production!
30: // only for development, not for production
31: @import "vendor/hashgrid"; 
32: >>>>>>> bf72a3a34f29ae534cbd425853fe3ed041bcd03c

Backtrace:
stylesheets/main.scss:31
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:1167:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:1101:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:1096:in `tok!'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:641:in `block'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:636:in `ruleset'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:660:in `block_child'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:653:in `block_contents'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:117:in `stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:42:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/engine.rb:393:in `_to_tree'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/engine.rb:285:in `render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:209:in `each'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:293:in `watch'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/plugin.rb:108:in `method_missing'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/exec/sass_scss.rb:370:in `watch_or_update'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/exec/sass_scss.rb:50:in `process_result'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/exec/base.rb:52:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/exec/base.rb:19:in `parse!'
/var/lib/gems/1.9.1/gems/sass-3.4.10/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...endor/hashgrid\"\": expected \"{\", was \"; \"\A         on line 31 of stylesheets/main.scss\A \A 26: \A 27: \A 28: \A 29: // TODO: delete in production!\A 30: // only for development, not for production\A 31: @import \"vendor/hashgrid\"; \A 32: >>>>>>> bf72a3a34f29ae534cbd425853fe3ed041bcd03c"; }
