{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Accounts{% endblock %}
{% block page_id %}userlist{% endblock %}

{% block content %}
    <div ng-init="tab = 1" ng-cloak>
        <h2>Account Management</h2>
        <nav class="nav-horizontal">
            <ul>
                <li ng-class="{active:tab===1}"><a ng-click="tab = 1">Registered Users</a></li>
                <li ng-class="{active:tab===2}"><a ng-click="tab = 2">Groups</a></li>
            </ul>
        </nav>

        <div ng-switch="tab">
            <div ng-switch-when="1">
                <ng-include  src="'{% static 'partials/accounts-user-list.html' %}'"></ng-include>
            </div>
            <div ng-switch-when="2">
                <ng-include  src="'{% static 'partials/accounts-group-list.html' %}'"></ng-include>
            </div>
        </div>
    </div>
{% endblock %}