{% extends "base.html" %}

{% load staticfiles %}
{% load pipeline %}

{% block title %}Annotator{% endblock %}
{% block page_id %}annotator{% endblock %}

{% block left %}
<div class="sidebar">
    {% include "navigation_annotator.html" %}
</div>
{% endblock %}

{% block content %}
    <div id="annotate-space" ng-controller="AnnotatorCtrl"
        ng-include="'{% static 'partials/annotator.html' %}'"
        onload="initialize({ docID:'{{ doc_id }}', nerUrl:'{{ ner_url }}', nerAuth:'{{ ner_auth }}'})"></div>
{% endblock %}

{% block scripts %}
    {% javascript 'annotator' %}

    <script language="javascript">
        "use strict";

        $(document).ready(function () {
            $('#nav-annotate').click(function() {
                var span = $('#nav-annotate>span');
                if (!span.hasClass('fa-spin')) {
                    span.addClass('fa-spin');
                    Annotator._instances[0].plugins.NER.recognize({
                        success : function (data) {
                            span.removeClass('fa-spin');
                        },
                        error : function () {
                            span.removeClass('fa-spin');
                        }
                    });
                }
                return false;
            });

            $('#nav-fullscreen').click(function(){
                enableFullscreen( document.getElementById( 'annotate-space' ) );
            });
        });

        // Find the right method, call on correct element
        function enableFullscreen(element) {

            if(element.requestFullscreen) {
                element.requestFullscreen();

            } else if(element.mozRequestFullScreen) {
                element.mozRequestFullScreen();

            } else if(element.webkitRequestFullscreen) {
                element.webkitRequestFullscreen();

            } else if(element.msRequestFullscreen) {
                element.msRequestFullscreen();
            }
        }
        
    </script>
{% endblock %}