{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Documents{% endblock %}
{% block page_id %}Documents{% endblock %}


{% block content %}
    <div>
        <h3>Annotated Documents</h3>
    </div>

    <ul id="document-table" class="document-grid" ng-controller="AnnDocsCtrl">

        {% verbatim %}
        <li ng-repeat="doc in ann_docs track by $index | orderBy:'-created'">
            <a href="/annotator/">
                <div>{{ doc }}</div>
            </a>
        </li>
        {% endverbatim %}

    </ul>
{% endblock %}