{% extends "base.html" %}

{% load staticfiles %}

{% block title %}My Annotations{% endblock %}
{% block page_id %}myAnnotations{% endblock %}


{% block content %}

    <div>
        <h3>My Annotations</h3>
        <span class="sorting">Sort By
             <select>
                <option>Name</option>
                <option>Date</option>
                <option>Concept</option>
                <option>Occurrences</option>
             </select>
        </span>
    </div>

    <ul id="annotation-table" class="annotation-grid" ng-controller="AnnotationStoreCtrl">

        {% verbatim %}
        <li ng-repeat="occurrence in occurrences | orderBy:'-created'">
            <div>
                <div class="ann-header">
                    {{ occurrence.ann }}
                </div>
                <div class="sub-info">
                    is Person {{ occurrence.typeof }}
                </div>
                <div></div>
                <div>
                    <a href="neonion.views.annotations_occurrences/{{ occurrence.ann }}">{{ occurrence.count }} Occurences</a>
                </div>
                <div>
                    <a href="neonion.views.annotations_documents">in {{ occurrence.docs.length }} Documents</a>
                </div>
                <div></div>
                <div class="sub-info">
                    {{ occurrence.last | date : "MM/dd/yyyy 'at' h:mma" }}
                </div>
            </div>
        </li>
        {% endverbatim %}

    </ul>

{% endblock %}

