{% extends "base.html" %}

{% load staticfiles %}

{% block title %}All Occurrences{% endblock %}
{% block page_id %}allOccurrences{% endblock %}


{% block content %}
    <div>
	    <h3>All Occurences for:</h3>
        <span>
            <select>
                <option>Max Planck</option>
                <option>Eric Horvitz</option>
                <option>Pattie Maes</option>
            </select>   
        </span>
        <form action="{% url 'neonion.views.annotations_occurences' %}" method="post">
            {% csrf_token %}
            <table>
    	        <thead>
    	            <tr>
    	                <th>Context</th>
    	                <th>Document</th>
    	                <th>Date</th>
    	            </tr>
    	        </thead>
    	    </table>
	</div>
{% endblock %}



{% block scripts %}
<script language="javascript">
    "use strict";

    $(document).ready(function() {
        // better replace this part by angular js
        $.getJSON("{% url 'store.views.filter_annotations' %}", function(response) {
            $.each(response.rows, function(index, value){
                $("#tbl-annotations").append(
                    "<tr><td><a href='/annotator/" + value['uri'] + "'>" + value['uri'] + "</a></td>" +
                    "<td>" + value['created'] + "</td>" +
                    "</tr>"
                );
            });
        });
    });

</script>
{% endblock %}
