{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Import{% endblock %}
{% block page_id %}import{% endblock %}

{% block content %}
    {% if use_file_upload %}
        <div>
            <h2>Import</h2>

            <form method="post" action="{% url 'documents.views.upload_file' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input id="file-upload" name="file-upload" type="file" multiple change="fileLoad($files)"
                       ng-click="meta=true" ng-init="meta=false">
                <input class="button button-primary button-import pull-right" type="submit"/>
            </form>

            <div id="import-metadata" ng-controller="MetaDataCtrl" ng-show="meta">
                <h3>Document properties</h3>

                <div>Please specify the properties of the</div>
                <div>document you are about to upload</div>

                <ng-include src="'{% static 'partials/meta_data.html' %}'"></ng-include>
            </div>
        </div>
    {% else %}
        <ng-include src="'{% static 'partials/upload_cms.html' %}'"></ng-include>
    {% endif %}
{% endblock %}