{% extends "base.html" %}

{% load staticfiles %}

{% block title %}All Occurrences{% endblock %}
{% block page_id %}allOccurrences{% endblock %}


{% block content %}
    <div>
	    <h3>All Occurrences</h3>
        <table>
    	    <thead>
    	        <tr>
    	            <th>Context</th>
    	            <th>Document</th>
    	            <th>Date</th>
                </tr>
            </thead>
            <tbody ng-controller="AnnOccurCtrl">
            {% verbatim %}
                <tr ng-repeat="occur in ann_occur | orderBy:'-created'">
                    <td>quote</td>
                    <td> {{ occur.title }}</td>
                    <td> {{ occur.created | date : "MM/dd/yyyy 'at' h:mma"}} </td>
                </tr>
            {% endverbatim %}
            </tbody>
        </table>
	</div>
{% endblock %}
