{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Settings{% endblock %}
{% block page_id %}settings{% endblock %}

{% block content %}
	<div>
		<h2>Settings</h2>
		<nav class="nav-horizontal">
            <ul>
                <li><a href="" ng-click="ner=false">My Annotation Sets</a></li>
                <li><a href="" ng-click="ner=true">NER Settings</a></li>
            </ul></br>
        </nav>

        <div class="wrapper">
            <p ng-hide="ner">
                <ng-include src="'{% static 'partials/annotationsets_list.html' %}'"></ng-include>
            </p>
            <p ng-show="ner">
                <ng-include src="'{% static 'partials/ner_models.html' %}'"></ng-include>
            </p>
        </div>

	</div>
{% endblock %}