<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1" />

    <title>Neonion - {% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" media="screen" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
</head>
<body id="page-{% block page_id %}general{% endblock %}">

{% block left %}
    <div class="sidebar">
        <div class="logo-wrapper">
            <div class="logo"></div>
        </div>
        {% include "navigation.html" %}
    </div>
{% endblock %}

{% block right %}
    <div class="main">
      <div class="header">{% block header %}{% endblock %}</div>
      <div class="content">
      {% block content %}{% endblock %}
      </div>
    </div>
{% endblock %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />

    {% block scripts %}{% endblock %}
</body>