{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Übersicht{% endblock %}

{% block bottom_left %}
    <div class="unit-20">
        <nav class="nav">
            <ul>
                <li><a href="{% url 'neonion.views.home' %}" class="nav-active"><span class="fa fa-home fa-fw"></span>My Neonion</a></li>
                <li><a href="{% url 'neonion.views.import_document' %}"><span class="fa fa-upload fa-fw"></span>Import</a></li>
                <li><a href="{% url 'neonion.views.load_settings' %}"><span class="fa fa-cog fa-fw"></span>Settings</a></li>
                <li><a href="{% url 'accounts.views.logout' %}"><span class="fa fa-sign-out fa-fw"></span>Logout</a></li>
                <li id="help-link"><span><span class="fa fa-question fa-fw"></span>Help</span></li>
            </ul>
        </nav>
    </div>
{% endblock %}


{% block bottom_right %}
    <div class="unit-80">
        <table id="document-table" class="table-simple"><tr><td><span class="fa fa-spinner fa-spin"></span> Loading...</td></tr></table>
    </div>
{% endblock %}


{% block scripts %}
<script language="javascript">
    "use strict";

    $(document).ready(function() {
        loadDocumentList();
    });

    function compare_Documents(a,b) {
      if (a.createdAt < b.createdAt)
         return -1;
      if (a.createdAt > b.createdAt)
        return 1;
      return 0;
    }

    function loadDocumentList() {
        var documentList = [];
        // load document list
        $.getJSON({% url 'documents.views.list' %}, function(response) {
            response.forEach(function(entry) {
                documentList.push( entry );
            });
            var today = moment().startOf("day");
            var todayLabelSet = false;
            var earlierLabelSet = false;
            $('#document-table').html('');

            $('.nav a').on('click', function() {
                $('.nav a').each(function(){$(this).removeClass('nav-active')});$(this).addClass('nav-active');}
            );

            if (documentList.length > 0) {
                documentList.sort(compare_Documents)
                .reverse()
                .forEach(function (entry) {
                    /* set label for first column (only once for each type) */
                    var label = '';
                    if (!todayLabelSet && entry.createdAt >= today) {
                        label = 'Today';
                        todayLabelSet = true;
                    }
                    if (!earlierLabelSet && entry.createdAt < today) {
                        label = 'Earlier';
                        earlierLabelSet = true;
                    }
                    /* create element for document list and append it */
                    var uri = entry.urn.split("/")
                    var id = uri[uri.length - 1]
                    var element = $('<tr></tr>')
                            .append($('<td class="small"></td>').text(label)) // add label (today or earlier)
                            .append($('<td class="element-cell"></td>')
                                    .append($('<a href="/annotator/' + id + '">' + entry.title + '</a>'))
                                    .append($('<div class="document-list-buttons"></div>')
                            )
                    );
                    $('#document-table').append(element);
                });
            }
            else {
                $('#document-table').html('Workspace it empty');
            }
        });
    }
    
</script>
{% endblock %}