{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Settings{% endblock %}
{% block page_id %}settings{% endblock %}

{% block content %}
      <div>
          <h2>Settings</h2>
          <p class="nav-horizontal">
              <a href="neonion.views.home">My AnnotationSets</a>
              <a href="neonion.views.home">NER Settings</a>
          </p>
      </div>

        {% include 'partials/annotationsets.html' %}
        {% include 'partials/ner_models.html' %}

{% endblock %}