<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1" />

    <title>Neonion - {% block title %}{% endblock %}</title>
    {% load staticfiles %}
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/kube.css' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'css/neonion.css' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
</head>
<body>

{% block top %}
    <div class="bg bg-20"></div>
    <div class="units-row end" id="headline">

        <div class="unit-20">
            {% block top_left %}
            <div class="units-row">
                <h1 class="neonion-logo">
                    <span class="ul_1">n</span>
                    <span>e</span>
                    <span class="ul_3">
                        <span class="orange ul_2">o</span>
                        <span class="ul_1">n</span>
                    </span>
                    <span>i</span>
                    <span class="ul_3">
                        <span class="orange ul_2">o</span>
                        <span class="ul_1">n</span>
                    </span>
                </h1>
            </div>
            {% endblock %}
        </div>

        {% block top_right %}{% endblock %}
    </div>
{% endblock %}

{% block bottom %}
    <div class="units-row">
        {% block bottom_left %}{% endblock %}
        {% block bottom_right %}{% endblock %}
    </div>
{% endblock %}

{% block content %}{% endblock %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/sprintf.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.js' %}"></script>

    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>

    {% block scripts %}{% endblock %}
</body>