<nav class="row">
    <ul class="nav nav-pills nav-stacked">
    {% if request.user.is_authenticated %}
        {% url 'neonion.views.render_home' as url_home %}
        {% url 'neonion.views.import_document' as url_import %}
        {% url 'neonion.views.render_settings' as url_settings %}
        {% url 'neonion.views.render_vocabulary' as url_vocabulary %}
        {% url 'accounts.views.logout' as url_logout %}
        {% url 'neonion.views.annotations' as url_annotations %}
        {% url 'neonion.views.annotation_occurrences' as url_annotations_occurrence %}
        {% url 'neonion.views.annotation_documents' as url_annotations_documents %}

        {# Documents #}
        <li {% if request.path == url_home %}class="active"{% endif %}>
            <a href="{{ url_home }}">
                <i class="fa fa-home fa-fw"></i>Documents
            </a>
        </li>
        {# Annotations #}
        <li
            {% if request.path == url_annotations or request.path == url_annotations_occurrence or request.path == url_annotations_documents %}
            class="active"{% endif %}>
            <a href="{{ url_annotations }}">
                <i class="fa fa-bookmark fa-fw"></i>Annotations
            </a>
        </li>
        {# Import #}
        <li {% if request.path == url_import %}class="active"{% endif %}>
            <a href="{{ url_import }}">
                <i class="fa fa-upload fa-fw"></i>Import
            </a>
        </li>
        {# Vocabulary #}
        <li {% if request.path == url_vocabulary %}class="active"{% endif %}>
            <a href="{{ url_vocabulary }}">
                <i class="fa fa-weixin fa-fw"></i>Vocabulary
            </a>
        </li>
        {# Settings #}
        <li {% if request.path == url_settings %}class="active"{% endif %}>
            <a href="{{ url_settings }}">
                <i class="fa fa-cog fa-fw"></i>Settings
            </a>
        </li>
        {# Admin section #}
        {% if request.user.is_superuser %}
            {% url 'neonion.views.render_query' as url_query %}
            {% url 'neonion.views.accounts_management' as url_accounts %}

            {% if system.services.endpoint.enabled %}
            {# Query form #}
            <li {% if request.path == url_query %}class="active"{% endif %}>
                <a href="{{ url_query }}">
                    <i class="fa fa-cube fa-fw"></i>Query
                </a>
            </li>
            {% endif %}
            {# Accounts #}
            <li {% if request.path == url_accounts %}class="active"{% endif %}>
                <a href="{{ url_accounts }}">
                    <i class="fa fa-users fa-fw"></i>Users
                </a>
            </li>
	    
	    {# Kibana #}
	    
	    {% if system.services.user_logging.enabled %}
            <li><a href="{{ system.services.user_logging.kibana_url }}" target="_blank"><i class="fa fa-bar-chart"></i>Kibana </a>	
	    </li>
 	    {% endif %}
        {% endif %}
        {# Logout #}
        <li {% if request.path == url_logout %}class="active"{% endif %}>
            <a href="{{ url_logout }}">
                <i class="fa fa-sign-out fa-fw"></i>Logout
            </a>
        </li>
    {% else %}
        {% url 'accounts.views.login' as url_login %}
        {% url 'accounts.views.register' as url_register %}
        {# Login #}
        <li {% if request.path == url_login %}class="active"{% endif %}>
            <a href="{{ url_login }}">
                <i class="fa fa-sign-in fa-fw"></i>Sign In
            </a>
        </li>
        {# Register #}
        <li {% if request.path == url_register %}class="active"{% endif %}>
            <a href="{{ url_register }}">
                <i class="fa fa-plus-square-o fa-fw"></i>Sign Up
            </a>
        </li>
    {% endif %}
    </ul>
</nav>
