<nav class="nav-vertical">
    <ul>
    {% if request.user.is_authenticated %}
        {% url 'neonion.views.home' as url_home %}
        {% url 'neonion.views.my_annotations' as url_my_annotations %}
        {% url 'neonion.views.import_document' as url_import %}
        {% url 'neonion.views.load_settings' as url_settings %}
        {% url 'accounts.views.logout' as url_logout %}

        {# Search field #}
        <li id="search-box">
            <form id="search-form" class="search-form" method="get" action="/search" role="search">
                <span id="search-icon" class="fa fa-search"></span>
                <input id="search" placeholder="Search..."/>
            </form>
        </li>

        {# My neonion #}
        <li {% if request.path == url_home %}class="active"{% endif %}>
            <a href="{{ url_home }}">
                <span class="fa fa-home fa-fw"></span>My neonion
            </a>
        </li>
        {# My Annotations #}
        <li {% if request.path == url_my_annotations %}class="active"{% endif %}>
            <a href="{{ url_my_annotations }}">
                <span class="fa fa-bookmark fa-fw"></span>My annotations
            </a>
        </li>
        {# Import #}
        <li {% if request.path == url_import %}class="active"{% endif %}>
            <a href="{{ url_import }}">
                <span class="fa fa-upload fa-fw"></span>Import
            </a>
        </li>
        {# Settings #}
        <li {% if request.path == url_settings %}class="active"{% endif %}>
            <a href="{{ url_settings }}">
                <span class="fa fa-cog fa-fw"></span>Settings
            </a>
        </li>
        {# Admin section #}
        {% if request.user.is_superuser %}
            {% url 'endpoint.views.query_form' as url_query %}
            {% url 'neonion.views.accounts_management' as url_accounts %}

            {# Query form #}
            <li {% if request.path == url_query %}class="active"{% endif %}>
                <a href="{{ url_query }}">
                    <span class="fa fa-cube fa-fw"></span>Query
                </a>
            </li>
            {# Accounts #}
            <li {% if request.path == url_accounts %}class="active"{% endif %}>
                <a href="{{ url_accounts }}">
                    <span class="fa fa-users fa-fw"></span>Users
                </a>
            </li>
        {% endif %}

        {# Logout #}
        <li {% if request.path == url_logout %}class="active"{% endif %}>
            <a href="{{ url_logout }}">
                <span class="fa fa-sign-out fa-fw"></span>Logout
            </a>
        </li>
    {% else %}
        {% url 'accounts.views.login' as url_login %}
        {% url 'accounts.views.register' as url_register %}
        {# Login #}
        <li {% if request.path == url_login %}class="active"{% endif %}>
            <a href="{{ url_login }}">
                <span class="fa fa-sign-in fa-fw"></span>Sign In
            </a>
        </li>
        {# Register #}
        <li {% if request.path == url_register %}class="active"{% endif %}>
            <a href="{{ url_register }}">
                <span class="fa fa-plus-square-o fa-fw"></span>Sign Up
            </a>
        </li>
    {% endif %}
    </ul>
</nav>