<nav class="nav-vertical">
    <ul>
    {% if request.user.is_authenticated %}
        {% url 'neonion.views.home' as url_home %}
        {% url 'neonion.views.import_document' as url_import %}
        {% url 'neonion.views.load_settings' as url_settings %}
        {% url 'accounts.views.logout' as url_logout %}

        <li {% if request.path == url_home %}class="active"{% endif %}>
            <a href="{{ url_home }}">
                <span class="fa fa-home fa-fw"></span>My Neonion
            </a>
        </li>
        <li {% if request.path == url_import %}class="active"{% endif %}>
            <a href="{{ url_import }}">
                <span class="fa fa-upload fa-fw"></span>Import
            </a>
        </li>
        <li {% if request.path == url_settings %}class="active"{% endif %}>
            <a href="{{ url_settings }}">
                <span class="fa fa-cog fa-fw"></span>Settings
            </a>
        </li>
        <li {% if request.path == url_logout %}class="active"{% endif %}>
            <a href="{{ url_logout }}">
                <span class="fa fa-sign-out fa-fw"></span>Logout
            </a>
        </li>
        {% if request.user.is_superuser %}

        {% endif %}
    {% else %}
        {% url 'accounts.views.login' as url_login %}
        {% url 'accounts.views.register' as url_register %}

        <li {% if request.path == url_login %}class="active"{% endif %}>
            <a href="{{ url_login }}">
                <span class="fa fa-sign-in fa-fw"></span>Sign In
            </a>
        </li>
        <li {% if request.path == url_register %}class="active"{% endif %}>
            <a href="{{ url_register }}">
                <span class="fa fa-plus-square-o fa-fw"></span>Sign Up
            </a>
        </li>
    {% endif %}
    </ul>
</nav>