<nav class="nav">
    <ul>
        <li><a href="{% url 'neonion.views.home' %}"><span class="fa fa-home fa-fw" title="MyNeonion"></span></a></li>
        <li><span class="fa fa-expand fa-fw" id="enableFullscreen" title="Fullscreen"></span></li>
        <li>&nbsp;</li>
        <ul id="annotationSets">
            {% for set in annotation_sets %}
                {% if set.uri == 'foaf:Person' %}
                <li><span class="fa fa-users fa-fw active" title="{{ set.label }}" annotationSet="{{ set.uri }}"></span></li>
                {% elif set.uri == 'aiiso:Institution' %}
                <li><span class="fa fa-university fa-fw active" title="{{ set.label }}" annotationSet="{{ set.uri }}"> </span></li>
                {% endif %}
            {% endfor %}
        </ul>
        <li id="help-link"><span class="fa fa-question fa-fw" title="Help"></span></li>
    </ul>
</nav>