{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Query{% endblock %}

{% block content %}
    <h3>Query form</h3>
    <form ng-controller="QueryCtrl" ng-init="initialize({endpoint:'{{ endpoint }}'})" ng-cloak="">
        {% verbatim %}
        <pre id="query-prefixes">{{ form.prefixes }}</pre>
        <textarea ng-model="form.query" rows="10">
            {{ form.query }}
        </textarea>
        <input type="submit" class="button button-primary pull-right" ng-click="executeQuery()" />
        <div id="query-result"></div>
        {% endverbatim %}
    </form>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/sgvizler.min.js' %}"></script>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
{% endblock %}