{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Documents{% endblock %}

{% block content %}
    <div ng-init="tab = 1" ng-cloak>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li ng-class="{active:tab===1}"><a ng-click="tab = 1">My</a></li>
                    <li ng-class="{active:tab===2}"><a ng-click="tab = 2">Public</a></li>
                    <li ng-class="{active:tab===3}"><a ng-click="tab = 3">Groups</a></li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <filter/>
                </form>
            </div>
        </nav>
        <div ng-switch="tab">
            <div ng-switch-when="1">
                <ng-include
                    ng-controller="WorkspaceCtrl"
                    onload="initPrivateWorkspace()"
                    src="'{% static 'partials/workspace-document-list.html' %}'"></ng-include>
            </div>
            <div ng-switch-when="2">
                <ng-include
                    ng-controller="WorkspaceCtrl"
                    onload="initPublicWorkspace()"
                    src="'{% static 'partials/workspace-document-list.html' %}'"></ng-include>
            </div>
            <div ng-switch-when="3">
                <ng-include
                    ng-controller="WorkspaceCtrl"
                    onload="initGroupWorkspace()"
                    src="'{% static 'partials/workspace-document-list.html' %}'"></ng-include>
            </div>
        </div>
    </div>
{% endblock %}