{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Documents{% endblock %}
{% block page_id %}workspace{% endblock %}

{% block content %}
    <div>
        <h2>Documents</h2>
    </div>
    <div ng-init="tab = 1" ng-cloak>
        <nav class="nav-horizontal">
            <ul>
                <li ng-class="{active:tab===1}"><a ng-click="tab = 1">My</a></li>
                <li ng-class="{active:tab===2}"><a ng-click="tab = 2">Public</a></li>
                <li ng-class="{active:tab===3}"><a ng-click="tab = 3">Groups</a></li>
            </ul>
        </nav>

        <div ng-switch="tab">
            <div ng-switch-when="1">
                <ng-include
                    ng-controller="WorkspaceCtrl"
                    onload="initPrivateWorkspace()"
                    src="'{% static 'partials/document_grid.html' %}'"></ng-include>
            </div>
            <div ng-switch-when="2">
                <ng-include
                    ng-controller="WorkspaceCtrl"
                    onload="initPublicWorkspace()"
                    src="'{% static 'partials/document_grid.html' %}'"></ng-include>
            </div>
            <div ng-switch-when="3">
                <ng-include
                    ng-controller="WorkspaceCtrl"
                    onload="initGroupWorkspace()"
                    src="'{% static 'partials/document_grid.html' %}'"></ng-include>
            </div>
        </div>
    </div>
{% endblock %}