// https://medium.com/@Florian/freebie-google-material-design-shadow-helper-2a0501295a2d
%shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

%font {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

%basefontsize {
  font-size: $base-font-size;
  line-height: $baseline;
}