
body{
	padding:1em;
  max-width: 979px;
}

.document-list-buttons{
    float:right;
}

.bg{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: #eaeaea;
    z-index: -1000;
}
.units-row .unit-10  {width: 100px;}
.bg-10{width: 50px;}
.bg-20, .units-row .unit-20 {width: 165px;}

.small{
    font-size: 0.7em;
    vertical-align: middle;
}

.mid{
  font-size: 0.9em;
}

.big{
  font-size: 1.8em;
  margin-bottom: 0.5em;
}

#userInfo{
  line-height: 2em;
  text-align: right;
}

.annotator-nav span{
  color: gray;
}

.annotator-nav .fa{
  color: #8E8E93;
  vertical-align:middle;
  margin-right: .5em;
}


.annotator-nav .fa:before{
  font-size: 1.5em;
}

.nav .fa{
  color:#8E8E93;
}

.nav .fa:hover{
  cursor: pointer;
}

.nav .fa.active{
  color: rgba(0,173, 232, 1);
}

.annotator-nav a:hover .fa, .annotator-nav li:hover .fa{
  color: rgba(0,173, 232, 1);
}


.nav .fa.deactivated{
  color:#aeaeae;
}

.nav .fa.deactivated:hover{
  cursor: default;
}


#help-link{
  position: absolute;
  bottom: 1em;
}

.verticalLine {
    display:none;
}


@media only screen and (max-width: 979px) {
  html{margin:0px;padding:5px;}
  .bg{background-color: #ffffff;}
  .nav ul li{float: left;margin-right: 1.618em;}
  .nav ul{width: 100%;}
  .units-row .unit-20, .units-row .unit-10{width: 100%; float:none;background-color: #eaeaea;}
   div.unit-10.annotator-nav > nav > ul > hr {display:none;}
  .verticalLine{display:block;}
  .units-row{clear:both;}
  #help-link{position:relative;}
  :-moz-full-screen,:-ms-fullscreen,:full-screen,:fullscreen,:-webkit-full-screen {width: 100%;}
}


.as-active{
    font-weight: bold;
}

#document-table td{
    padding-left: 1em;
}

#document-table tr td:nth-child(1){
    text-align: right;
    width: auto;
}

#document-table tr:nth-child(2n) td:nth-child(2){
    background-color: #ffffff;
}

#document-table tr:nth-child(2n+1) td:nth-child(2){
    background-color: #f1f1f1;
}

#document-table tr td:hover td:nth-child(2){
    background-color: #E5E5E5;
}

.document-list-buttons{
   /*display: none;*/
   color:transparent;
}

.element-cell:hover .document-list-buttons{
    /*display: block;*/
  color:black;

}

#loginform input{
  margin-bottom: 1em;
}

#loginform .last_input{
  margin-bottom: 0em;
}






/* Fullscreen */
:-webkit-full-screen {
  background-color: white;
  width: 50%;
  height: 100%;
  padding: 5em;

}

:-moz-full-screen {
  background-color: white;
  width: 50%;
  height: 100%;
  padding: 5em;


}

:-ms-fullscreen {
  background-color: white;
  width: 50%;
  height: 100%;
  padding: 5em;


}

:full-screen { /*pre-spec */
  background-color: white;
  width: 50%;
  height: 100%;
  padding: 5em;


}

:fullscreen { /* spec */
  background-color: white;
  width: 50%;
  height: 100%;
  padding: 5em;
}


#exit-fullscreen-btn{
  font-size: 1.5em;
  text-align: right;
}

/* end Fullscreen */

a:link {
  text-decoration: none;
  /*color:#3d58a8;*/
  color: black;
}
a:visited {
  text-decoration: none;
  /*color:#3d58a8;*/
  color: black;

}
a:hover {
  text-decoration: none !important;
  /*color:#2f4483;*/
  color: rgba( 0,173, 232, 1);

}
a:active {
  text-decoration: none;
  /*color:#3d58a8;*/
  color: #005F7F;

}


/*import dialog*/
dialog#dialog-import{
  top:3em;
  min-width:50em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  padding: 0;
}

dialog#dialog-import div{
  padding-left:  2em;
  padding-right: 1em;
}


dialog#dialog-import .dialog-head{
  line-height: 3em;
  margin-bottom: 0px;
  border-bottom: 3px solid rgba(0, 173, 232, 100);
}

dialog#dialog-import #close-dialog-button{
  position: absolute;
  right: 1em;
  top:0.5em;
  font-size: 1.5em;
  color: #FF3235;
  cursor: pointer;
}
dialog#dialog-import #close-dialog-button:hover{
  color: #CC282A;
}

dialog#dialog-import .dialog-body{
  padding-top: 1em;
}

dialog#dialog-import .dialog-body p{
  margin-bottom: 0.5em;
}

dialog #import-form-row{
  overflow-y: auto;
  max-height: 16em;
  /*margin-left: 2em;*/
  margin-left: -.5em;
  margin-right: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;// 0px 0px 10px;
}

dialog#dialog-import .dialog-foot{
  text-align: right;
  padding-bottom: 1em;
  margin-right: 0.5em;
}

dialog#dialog-import .ui-widget-content{
  border:none;
  width: 100%;
}

#document-import-list{
  margin: 0;
}
#import-form-row{
  padding: 0 !important;

}

dialog#dialog-import .ui-widget-content{
  padding-left:0.5em;
  margin-bottom: 1px;
}

#document-import-list .ui-selecting, dialog#dialog-import .ui-widget-content:hover, #document-import-list .ui-selected {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
  background: #00ADE8;
}



dialog#dialog-import .dialog-cancel-btn{
  text-decoration: underline;
  margin-right: 2em;
}
dialog#dialog-import .dialog-cancel-btn:hover{
  cursor: pointer;
}

#document-import-list{
  list-style-type: none;
}

dialog#dialog-import::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

dialog#dialog-import + .backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.btn-blue{
  background: #00ADE8;
  /*color: rgba(0, 0, 0, 1);*/
  border-radius: 10px;
  border-color: #8E8E93;
}

.btn-blue:hover {
  background: #008ABA;
  color: rgba(255, 255, 255, 0.9);

}


dialog#dialog-import ::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

dialog#dialog-import ::-webkit-scrollbar-track {
-webkit-border-radius: 10px;
border-radius: 10px;
}

dialog#dialog-import ::-webkit-scrollbar-thumb {
-webkit-border-radius: 10px;
border-radius: 10px;
background: rgba(0,173,232,0.5);
}

dialog#dialog-import ::-webkit-scrollbar-thumb:horizontal {
-webkit-border-radius: 10px;
border-radius: 10px;
background: rgba(0,0,0,0.1);
-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
}

dialog#dialog-import ::-webkit-scrollbar-thumb:window-inactive {
background: rgba(0,0,0,0.9);
}
