.idea/
venv
*.pyc
*.pyo
db.*
db.sqlite3
staticfiles
__pycache__
*.log
/logs
/plugins/*/*
!plugins/__init__.py
*.*~

# styleguide
/node_modules
/neonion/static/styleguide

# converage.py files
.coverage
/htmlcov

.DS_Store
