.idea/
venv
*.pyc
*.pyo
db.*
db.sqlite3
staticfiles
__pycache__
*.css.map
.sass-cache/
*.log
/plugins/*/*
!plugins/__init__.py
*.*~
# keep the css folder and ignore the content (except the .keep file)
/neonion/static/css/*.css
/neonion/static/css/*.map


# converage.py files
.coverage
/htmlcov
