Django==1.7
Flask==0.10.1
Jinja2==2.7.3
Mako==1.0.0
MarkupSafe==0.23
PyYAML==3.11
SPARQLWrapper==1.6.4
SQLAlchemy==0.9.8
Unidecode==0.04.16
Werkzeug==0.9.6
alembic==0.6.7
argparse==1.2.1
beautifulsoup4==4.3.2
dataset==0.5.5
distribute==0.6.24
dj-database-url==0.3.0
dj-static==0.0.6
djangorestframework==3.0.0
elasticsearch==1.2.0
html5lib==1.0b3
ipython==2.3.1
iso8601==0.1.10
isodate==0.5.0
itsdangerous==0.24
jwt==0.3.2
pycrypto==2.6.1
pyelasticsearch==0.7.1
pyparsing==2.0.3
python-slugify==0.1.0
rdflib==4.1.2
requests==2.4.3
simplejson==3.6.4
six==1.8.0
static3==0.5.1
urllib3==1.9.1
wsgiref==0.1.2
coverage==3.7.1
enum
