{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Query{% endblock %}

{% block bottom_right %}
    <div class="unit-80">
        <form action="{% url 'endpoint.views.query' %}" method="post">
            {% csrf_token %}
            <div class="big" style="margin-top:1em;margin-bottom:1em;">Query form</div>
            <textarea name="query-field" class="width-100" rows="20">{{ query }}</textarea>
            <button class="btn btn-small btn-outline mid">Submit</button>
        </form>


    </div>
{% endblock %}