{% extends "registration/base_registration.html" %}

{% load staticfiles %}

{% block registration %}
<div class="big">Please sign in</div>
</div>
<div class="units-row">
{% if form.errors %}
    <p class="small color-red">Your username and password didn't match. Please try again.</p>
{% endif %}
<form class="width-50" id="loginform" method="post" action="{% url 'django.contrib.auth.views.login' %}">{% csrf_token %}
    <input id="id_username" maxlength="254" name="username" placeholder="Username" type="text" class="width-100">
    <input id="id_password" name="password" placeholder="Password" type="password" class="width-100 last_input">
    <div class="text-right width-100">
        <span class="small">Forgot password? <a href="#">click here</a></span><br>
        <button class="btn-blue">Sign in</button>
    </div>
    <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
<font color="green">For testing purpose use: test:test</font>
{% endblock %}



