{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<div class="bg bg-20"></div>


<div class="units-row end">
    <div class="unit-20 overview-nav">
        <div class="units-row">
            <hgroup>
                <h1>NEONION</h1>
                <h3 class="subheading">rethinking Annotation</h3>
            </hgroup>
        </div>
    </div>
    <div class="unit-80">
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
        For testing purpose use: test:test
        <form id="loginform" method="post" action="{% url 'django.contrib.auth.views.login' %}">{% csrf_token %}
            <label>
                <input id="id_username" maxlength="254" name="username" placeholder="Username" type="text" class="width-50">
            </label>
            <label>
                <input id="id_password" name="password" placeholder="Password"  type="password" class="width-50">
            </label>
            <p>
                <button class="btn-blue width-50">Log in</button>
            </p>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
</div>

{% endblock %}



