{% extends "accounts/base_accounts.html" %}

{% load staticfiles %}

{% block title %}Register{% endblock %}

{% block nav %}
<ul>
    <li><a href="/accounts/login"><span class="fa fa-sign-in fa-fw"></span>Login</a></li>
    <li><a href="/accounts/register" class="nav-active"><span class="fa fa-plus-square-o fa-fw"></span>Register</a></li>
    <li id="help-link"><span><span class="fa fa-question fa-fw"></span>Help</span></li>
</ul>
{% endblock %}

{% block registration %}
<div class="big" style="margin-top:1em;margin-bottom:1em;">Sign Up</div>
<div class="units-row" style="margin-left:5em;">
    <form class="width-50" action="" method="post">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        <p><label class="sticky">{{ form.email.label }}{{ form.email }}</label></p>
        <p><label class="sticky">{{ form.name.label }}<br/>{{ form.name}}{{ form.surname}}</label></p>
        <p><label class="sticky">{{ form.password1.label }}{{ form.password1 }}</label></p>
        <p><label class="sticky">{{ form.password2.label }}{{ form.password2 }}</label></p>
        <button class="btn btn-small btn-outline">Register</button>
    </form>

    {% for error in form.non_field_errors %}
    <p class="label label-outline label-red">{{ error|escape }}</p>
    {% endfor %}
</div>
{% endblock %}
