<table class="table gap-top">
    <thead>
        <tr>
            <th>Annotation Context</th>
            <th>Document</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody ng-controller="AnnotationOccurrenceListCtrl" ng-cloak>
        <tr ng-repeat="annotation in annotations | orderBy:'-created'">
            <td> {{ annotation.neonion.context.surrounding.left }} <strong>{{ annotation.quote }} </strong> {{ annotation.neonion.context.surrounding.right }}</td>
            <td> {{ documentTitles[annotation.uri] }}</td>
            <td> {{ annotation.created | date : "MM/dd/yyyy 'at' h:mma" }} </td>
        </tr>
    </tbody>
</table>