<div ng-controller="AnnotationListCtrl" ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary pull-right" target="blank"
               ng-click="downloadComments('csv')">
                <i class="fa fa-download fa-fw"></i>Download
            </a>
        </div>
    </div>
    <div ng-repeat="(documentKey, annotationByDocument) in annotations | filterByCommentAnnotation | filter:filterCommentAnnotations | groupBy: 'uri'">
        <div ng-repeat="(groupKey, annotationByGroup) in annotationByDocument | groupBy: 'permissions.read[0]'">
            <h4>
                <a class="link" href="/annotator/{{ documentKey }}#?workspace={{ groupKey }}">
                    {{ documentTitles[documentKey] }}</a>
                <small ng-if="groupNames[groupKey]">
                    <i class="fa fa-circle-o"></i> {{ groupNames[groupKey] }}
                </small>
                <small ng-if="!groupNames[groupKey]">
                    <i class="fa fa-circle-o"></i> Private
                </small>
            </h4>
            <table class="table">
                <thead>
                <tr>
                    <th class="context">Context</th>
                    <th class="annotation">Comment</th>
                    <th class="date">Created&nbsp;by</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="annotation in annotationByGroup">
                    <td class="context col-md-7">
                        {{ annotation.neonion.context.surrounding.left | truncate:'left' }}
                        <a class="mark"
                           href="/annotator/{{ groupKey }}/{{ documentKey }}#?annotationId={{ annotation.id }}">
                            {{ annotation.quote }}&nbsp;<i class="fa fa-external-link"></i>
                        </a>
                        {{ annotation.neonion.context.surrounding.right | truncate:'right' }}
                    </td>
                    <td class="annotation col-md-3">{{ annotation.text }}</td>
                    <td class="date col-md-2">{{ annotation.oa.annotatedBy.email }}<br>{{ annotation.created | date : "MM/dd/yyyy 'at' h:mma" }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>