<div ng-controller="AnnotationListCtrl" ng-cloak>
    <div ng-repeat="(documentKey, annotationByDocument) in annotations | filterByHighlightAnnotation | filter:filterHighlightAnnotation | groupBy: 'uri'">
        <div ng-repeat="(groupKey, annotationByGroup) in annotationByDocument | groupBy: 'permissions.read[0]'">
            <h4>
                <a href="/annotator/{{ documentKey }}#?workspace={{ groupKey }}">
                    {{ documentTitles[documentKey] }}</a>
                <small ng-if="groupNames[groupKey]">
                    <i class="fa fa-circle-o"></i> {{ groupNames[groupKey] }}
                </small>
                <small ng-if="!groupNames[groupKey]">
                    <i class="fa fa-circle-o"></i> Private
                </small>
                <a class="btn btn-primary pull-right" target="blank"
                   ng-click="downloadHighlights(annotationByGroup, 'csv')">
                    <i class="fa fa-download fa-fw"></i>Download
                </a>
            </h4>
            <table class="table">
                <thead>
                <tr>
                    <th>Highlight</th>
                    <th>Created&nbsp;by</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="annotation in annotationByGroup">
                    <td class="highlight col-md-10">
                        {{ annotation.context.left | truncate:'left' }}
                        <a class="mark"
                           href="/annotator/{{ documentKey }}#?docId={{ documentKey }}&annotationId={{ annotation.id }}&workspace={{ groupKey }}">
                            {{ annotation.quote }}&nbsp;<i class="fa fa-external-link"></i>
                        </a>
                        {{ annotation.context.right | truncate:'right' }}
                    </td>
                    <td class="date col-md-2">{{ annotation.oa.annotatedBy.email }}<br>{{ annotation.created | date : "MM/dd/yyyy 'at' h:mma" }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>