<form ng-controller="ConceptDetailCtrl">
    <fieldset>
        <div class="row">
            <div class="col-md-12">
                <div class="btn-toolbar pull-right">
                    <button ng-hide="form.isEditing" class="btn btn-primary" type="button"
                            ng-click="create()">Create
                    </button>
                    <button ng-show="form.isEditing" class="btn btn-primary" type="button"
                            ng-click="update()">Save
                    </button>
                    <button class="btn btn-default" type="button"
                            ng-click="return()">Cancel
                    </button>
                    <button ng-show="form.isEditing" class="btn btn-danger" type="button"
                            ng-click="delete()" disabled>Delete
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="label">Label</label>
                <input type="text" class="form-control" id="label" placeholder=""
                       ng-model="concept.label" autocomplete="off">
            </div>
            <div class="col-md-6" ng-show="concept.uri">
                <label for="uri">URI</label>
                <input type="text" class="form-control" id="uri" placeholder=""
                       ng-model="concept.uri" readonly="true">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="description">Description</label>
                <textarea id="description" class="form-control" rows="3"
                          ng-model="concept.comment"></textarea>
            </div>
        </div>
        <ng-include src="'/static/partials/vocabulary/multiselect.html'"></ng-include>
    </fieldset>
</form>