{% extends "base_accounts.html" %}

{% load staticfiles %}

{% block title %}Login{% endblock %}
{% block page_id %}userlist{% endblock %}

{% block registration %}
<div class="big" style="margin-top:1em;margin-bottom:1em;">Registered Users</div>
<table>
    <thead>
        <tr>
            <th>User</th>
            <th>Account</th>
        </tr>
    </thead>
    <tbody>
        {% for user in object_list %}
         <tr>
            <td>
                <p>{{ user.email }}</p>
            </td>
            <td>
                {% if user.is_admin %}
                    <a class="btn btn-small" href="{% url 'accounts.views.edit_user' userID=user.email %}?admin=0">Make user</a>
                {% else %}
                    <a class="btn btn-green btn-small" href="{% url 'accounts.views.edit_user' userID=user.email %}?admin=1">Make admin</a>
                    {% if user.is_active %}
                        <a class="btn btn-small" href="{% url 'accounts.views.edit_user' userID=user.email %}?active=0">Deactivate</a>
                        {% else %}
                        <a class="btn btn-green btn-small" href="{% url 'accounts.views.edit_user' userID=user.email %}?active=1">Activate</a>
                    {% endif %}
                    <a class="btn btn-red btn-small" href="{% url 'accounts.views.delete_user' userID=user.email %}">Delete</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}