<form ng-controller="BulkUploadCtrl">
    <div class="row">
        <div class="col-md-8">
            <fieldset>
                <legend>Bulk Import</legend>
                <label for="form-index">Index</label>
                <input type="text" class="form-control" id="form-index" placeholder="Name of the index"
                       ng-model="form.index" required>
                <label for="form-type">Type</label>
                <input type="text" class="form-control" id="form-type" placeholder="Name of the type"
                       ng-model="form.type" required>
                <label for="form-id">ID</label>
                <input type="text" class="form-control" id="form-id" placeholder="Field containing the ID"
                       ng-model="form.id" required>
                <label for="form-file">Uploaded File</label>
                <input type="file" ngf-accept="'application/json'" id="form-file" name="file" ngf-select
                       ng-model="file"/>
                <button type="button" ng-disabled="form.upload.uploading"
                        class="btn btn-default" ng-click="uploadFile(file)">Submit</button>
                <button type="button" ng-show="form.upload.uploading"
                        class="btn btn-danger" ng-click="cancelUpload()">Cancel</button>

                <div class="progress" ng-show="form.upload.uploading">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                         aria-valuemax="100" ng-style="{'width':form.upload.progress + '%' }">
                        {{ form.upload.progress }}%
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-md-4"></div>
    </div>
</form>