<div class="list-group" ng-repeat="(key, annotations) in resources | groupBy:'uri'">
    <div>
        <i>DocumentIdentifer {{ key }}</i>
        <span class="fa fa-trash-o" ng-click="deleteAnnotations(annotations)"></span>
    </div>
    <button button type="button" class="list-group-item" ng-repeat="annotation in annotations | orderBy : 'annotation.created'">
        <p>{{ annotation.created | date : "MM/dd/yyyy 'at' h:mma" }}</p>
        <p>{{ annotation.context.left }}<b>{{ annotation.quote }}</b>{{ annotation.context.right }}</p>
        <i>AnnotationIdentifier {{ annotation.uri }}</i>
        <span class="fa fa-trash-o" ng-click="deleteAnnotation(annotation)"></span>
    </button>
</div>