// Main color definitions
$primary-color: #434346 !default; // @ship-gray: dark-dark-dark-dark-grey
$secondary-color: #cdcdcd !default; // @silver: grey
$tertiary-color: #cdcdcd !default; // @silver: grey

// Button and link colors
$primary-action-color: #f39100 !default; // @tangerine: orange
$default-action-color: #f39100 !default; // @tangerine: orange
$action-color-change: 15% !default;