{% extends "base_accounts.html" %}

{% load staticfiles %}

{% block title %}Sign In{% endblock %}
{% block page_id %}signin{% endblock %}

{% block header %}
<div class="content">
  {% for error in form.non_field_errors %}
    <div class="message message-error">{{ error|escape }}</div>
  {% endfor %}
</div>
{% endblock %}

{% block registration %}
<p>Please Sign In before using neonion.</p>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group {% if form.email.errors %}error{% endif %}">
            {{ form.email }}
            <label>{{ form.email.label }}</label>
            {{ form.email.errors }}
        </div>
        <div class="form-group {% if form.password.errors %}error{% endif %}">
            {{ form.password }}
            <label>{{ form.password.label }}</label>
        </div>
        <div class="form-buttons">
            <button class="button pull-right">Sign in</button>
            <a href="/" class="button button-secondary button-wide pull-right">Forgot password?</a>
        </div> 
    </form>
{% endblock %}