{% extends "base_accounts.html" %}

{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block registration %}
<div class="big" style="margin-top:1em;margin-bottom:1em;">Login</div>

<div class="units-row" style="margin-left:5em;">
    <form class="width-50" action="" method="post">
        {% csrf_token %}
        <p><label class="sticky">{{ form.email.label }}{{ form.email }}</label></p>
        <p><label class="sticky">{{ form.password.label }}{{ form.password }}</label></p>
        <button class="btn btn-small btn-outline">Sign in</button>
{#        <span class="small right">Forgot password? <a href="#">click here</a></span><br>#}
    </form>
    {% for error in form.non_field_errors %}
    <p class="label label-outline label-red">{{ error|escape }}</p>
    {% endfor %}
{% endblock %}