{% extends "base_accounts.html" %}

{% load staticfiles %}

{% block title %}Sign Up{% endblock %}
{% block page_id %}signup{% endblock %}

{% block header %}
<div class="content">
    {% if success %}
        {% if show_activation_info %}
            <div class="message message-info">You have successfully registered. An administrator must approve this request before you can login.</div>
        {% else %}
            <div class="message message-info">You have successfully registered.</div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}

{% block registration %}
<p>You need to register in order to use neonion.</p>
<form action="" method="post">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    <div class="form-group {% if form.email.errors %}error{% endif %}">
        {{ form.email }}
        <label>{{ form.email.label }}</label>
        {{ form.email.errors }}
    </div>
    <div class="form-group {% if form.password.errors %}error{% endif %}">
        {{ form.password }}
        <label>{{ form.password.label }}</label>
        {{ form.password.errors}}
    </div>
    <div class="form-buttons">
        <button class="button pull-right">Sign Up</button>
        <a class="button button-secondary button-wide pull-right"href="/">Already a user?</a>
    </div>
    </form>
</div>
{% endblock %}
