{% extends "base_accounts.html" %}

{% load staticfiles %}

{% block title %}Sign Up{% endblock %}
{% block page_id %}signup{% endblock %}

{% block registration %}
<p>You need to reister in order to use neonion.</p>
<form action="" method="post">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    <div class="form-group">
        <label>{{ form.email.label }}</label>
        {{ form.email }}
    </div>
    <div class="form-group">
        <label>{{ form.name.label }}</label>
        {{ form.name}}
        {{ form.surname}}
    <div class="form-group">
        <label>{{ form.password1.label }}</label>
        {{ form.password1 }}
    </div>
    <div class="form-group">
        <label>{{ form.password2.label }}</label>
        {{ form.password2 }}
    </div>
    <div class="form-buttons">
        <button class="button pull-right">Sign Up</button>
        <a class="button button-secondary button-wide pull-right"href="/">Already a user?</a>
    </div>
    </form>

    {% if success %}
        <p class="label label-outline label-green">You have successfully registered. An administrator must approve this request before you can login.</p>
    {% else %}
        {% for error in form.non_field_errors %}
        <p class="label label-outline label-red">{{ error|escape }}</p>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
