.annotator-notice,
.annotator-adder, 
.annotator-filter,
.annotator-widget {
  @extend %basefontsize;
  @extend %font;
}

.annotator-editor .annotator-resize,
.annotator-editor .annotator-controls {
  display: none;
}

// Kommentarfeld
#annotator-field-0 {
  @extend %basefontsize;
  background: $white;
}

.annotator-adder,
.annotator-item {
  @extend %shadow;

  .empty {
    @extend %basefontsize;
    padding: 0 $column-gap;
  }

  button {
    @extend %basefontsize;
    background: $white;
    border: none;
    border-top: 1px solid $silver;
    color: $black;
    display: block;
    padding: 0 $column-gap;
    text-align: left;
    text-indent: 0;
    width: 100%;
    outline: 0;

    &:hover { background-color: $gallery; }
    &:first-child { border-top: 0px; }
    span { font-size: 14px; }
  }
}

/* Annotator Adder
-------------------------------------------------------------------- */
.annotator-adder {
  width: auto;
  height: auto;
}

/* Annotator Outer
-------------------------------------------------------------------- */
// Override the CSS(top/left), which was set by JS
.annotator-editor[style] {
  right: -2*($column + $column-gap) !important;
  left: inherit !important;
}

/* Annotator Widget
-------------------------------------------------------------------- */
.annotator-editor {
  z-index: 0;

  .annotator-widget {
    border: 0px;
    left: 0px;
    top: 0px;
    width: 7* ($column + $column-gap);

    &:after {
      content: none;
    }

    .resource-controles {
      color: $black;
      left: -70px;
      position: absolute;
      top: $half-baseline;

      i { font-size: $baseline; }
    }

    #resource-form {
      background-color: $blue;

      i {
        @extend %basefontsize;
        color: $black;
        position: absolute;
        padding: $half-baseline $column-gap;
      }

      input[type=text] {
        @extend %basefontsize;
        color: $black;
        font-weight: bold;
        padding: $half-baseline $column-gap $half-baseline $column-gap+ $column;

        &:focus { background-color: transparent; }
      }
    }
  }
}

/* Annotator Item Links
-------------------------------------------------------------------- */
.annotator-editor a {
  @extend %basefontsize;
  background-color: transparent;
  background-image: none;
  border: 0;
  color: $black;
  display: inline;
  margin-left: $column-gap/2;
  padding: 0;
  text-shadow: none;

  &:after {
    content: none;
  }

  &:hover, &:active, &:focus {
    background-color: transparent;
    background-image: none;
    color: $tangerine;
    text-shadow: none;
  }
}

.annotator-viewer {
  border: 0px;
  z-index: 100;
  @extend %shadow;

  .annotator-widget {
    border: 0px;
    border-radius: 0px;
    @extend %shadow;

    .annotator-controls {
      right: 0px;
      padding: $half-baseline $column-gap $half-baseline 0;
      margin: 0px;

      button {
        padding: 0 0 0 0;

        &:hover {
          padding: 0px;
          background-color: white;
        }
      }
    }
  }

  .annotator-item div {
    border-bottom: 1px solid $silver;
    font-style: normal;
    padding: $half-baseline $column-gap;
    @extend %basefontsize;

    &:last-child {
      border-bottom: none;
    }

  }
}

.annotator-linie {
  border-bottom: 1px solid $dove-gray;
  position: absolute;
  width: 500px;
  z-index: -100;
}