.annotation-grid {
  @include list-reset;
  @include clearfix;

  li {
    background-color: $white;
    border: 1px solid $silver;
    float: left;
    height: 7*$baseline;
    margin-right: $unit-gap;
    margin-bottom: $baseline;
    width: 3*$unit + 2*$unit-gap;

    div {
      color: $ship-gray;
      font-size: $base-font-size;
      line-height: $baseline;
      font-weight: 300;

      div {
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: center;
        height: $baseline;
        width: 3*$unit + 2*$unit-gap;
        font-size: $base-font-size;
        margin: 0;
        border: none;
        text-decoration: none;

        a:link, a:visited {
          text-decoration: none;
          color: $ship-gray;
        }

        a:hover {
          border-color: $manatee;
          color: $black;
          text-decoration: none;
        }
      }
    }
  }

  .ann-header {
    font-weight: bold;
  }

  .sub-info {
    font-size: 12px;
  }
}