@import "../modules/all";

/* Globally use the border-box-model.
The width and height properties (and min/max properties) includes content,
padding and border, but not the margin 
*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  @extend %basefontsize;
  @extend %font;
  background-color: $gallery;
}

p {
  margin: $half-baseline 0 ;
}

h2 {
  padding-top: 0.5em;
  padding-bottom: 1.1em;
}

// left Sidebar containing navigation and logo
.sidebar {
  background-color: $white;
  height: 100vh;
  position: fixed;
  width: 5*$column + 4*$column-gap;

  .logo {
    background: url(../img/logo.png) no-repeat;
    height: 3 * $baseline;
  }

  .logo-wrapper {
    padding-top: $baseline;
    padding-left: $column;
  }
}

.header {
  height: 2*$baseline;

  #search-form {
    width: 9*$column;
    height: $column + $column-gap;
    margin: $column + ($column-gap/4) 0 $column-gap $column + ($column-gap/4);
    padding: $half-baseline ($column - $column-gap/2) 0 ($column - $column-gap/2);
    display: inline-block;
    position: relative;
  }

  #search-icon {
    float: left;
    position: absolute;
    padding: 12px 0 0 12px;
    color: $ship-gray;
    border: none;
    background-color: transparent;
  }

  #search-icon:focus {
    outline: 0;
  }

  #search {
    border: 0 none;
    float: left;
    width: 12*$column + 11*$column-gap;
    height: $baseline + (3/4)*$base-font-size;
    padding:($base-font-size/2 + $base-font-size/8) $base-font-size ($base-font-size/2) $column;
    background-color: $white;
  }
  ::-webkit-input-placeholder {
    color: $mid-gray;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: $mid-gray;
  }

  #search:focus {
    outline: 0;
  }
}

// right content area, this is the main content area
.main {
  margin-left: 5*$column + 4*$column-gap;
  width: 19*$column + 19*$column-gap;
  .header {
    height: 4*$baseline + $half-baseline;
  }

  .content {
    margin-left: $column + $column-gap;

    div {
      h3 {
        display: inline-block;
      }
    }

    div {
      .sorting {
        float: right;
      }
    }
    .text {
      margin-top: -($base-font-size + $base-font-size/4);
      margin-bottom: $base-font-size + $base-font-size/2;
      font-style: italic;
    }

    #import-main {
      width: 61.25%;
      height: 14*$baseline;
      float: left;
      display: inline-block;
    }

    .side-view {
      width: 38.75%;
      height: 14*$baseline;
      float: right;
      display: block;

      tr {
        border-bottom: none;
        border-top: none;
      }
    }
  }
}

// put into seperate file soon
#page-signin, #page-signup {
  .main {
    width: 10*$column + 10*$column-gap;
  }
}

#page-annotator #annotationArea {
  font-weight: 400;
}

#page-userlist {
  .button { margin-right: $column-gap; }
}