@import "../modules/all";

$baseline: 26px;
$half-baseline: $baseline/2;
$base-font-size: 16px;
$column-gap: 16px;
$column: 38px;

/* Globally use the border-box-model.
The width and height properties (and min/max properties) includes content,
padding and border, but not the margin 
*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: $gallery;
  font-size: $base-font-size;
  line-height: $baseline;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

p {
  margin: $half-baseline 0 ;
}

// left Sidebar containing navigation and logo
.sidebar {
  background-color: $white;
  height: 100vh;
  position: fixed;
  width: 5*$column + 4*$column-gap;

  .logo {
    background: url(../img/logo.png) no-repeat;
    height: 3 * $baseline;
  }

  .logo-wrapper {
    padding-top: $baseline;
    padding-left: $column;
  }
}

.header {
  hight: 2*$baseline;

  #search-form {
    width: 6*$column;
    margin: $column + ($column-gap/4);
    padding: $half-baseline ($column - $column-gap/2) 0 ($column - $column-gap/2);
    display: inline-block;
    position: relative;
  }

  #search-icon {
    float: left;
    position: absolute;
    padding: 9px 0 0 12px;
    color: $ship-gray;
    border: none;
    background-color: transparent;
  }

  #search-icon:focus {
    outline: 0;
  }

  #search {
    border: 0 none;
    float: left;
    width: 6*$column;
    padding:($base-font-size/2) $base-font-size ($base-font-size/2) $column;
    border-radius: ($base-font-size+($base-font-size/4));
    box-shadow: 0 2px 8px $silver inset;
    text-shadow:0 2px 8px $manatee;
    -webkit-transition: all 0.7s ease 0s;
  }
  ::-webkit-input-placeholder {
    color: $mid-gray;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: $mid-gray;
  }

  #search:focus {
    width: 214px;
    outline: 0;
  }
}

// right content area, this is the main content area
.main {
  margin-left: 5*$column + 4*$column-gap;
  width: 19*$column + 19*$column-gap;
  .header {
    height: 4*$baseline + $half-baseline;
  }

  .content {
    margin-left: $column + $column-gap;

    div > h3 {
      display: inline-block;
    }

    div {
      .sorting {
        float: right;
      }
    }
  }
}

// put into seperate file soon
#page-signin, #page-signup {
  .main {
    width: 10*$column + 10*$column-gap;
  }
}

#page-annotator #annotationArea {
  font-weight: 400;
}

#page-userlist {
  .button { margin-right: $column-gap; }
}