@import "../modules/all";

/* Globally use the border-box-model.
The width and height properties (and min/max properties) includes content,
padding and border, but not the margin 
*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  @extend %basefontsize;
  @extend %font;
  background-color: $gallery;
}

p {
  margin: $half-baseline 0 ;
}

h2 {
  padding-top: 0.5em;
  padding-bottom: 1.1em;
}

// left Sidebar containing navigation and logo
.sidebar {
  background-color: $white;
  height: 100vh;
  position: fixed;
  width: 5*$column + 4*$column-gap;
  z-index: 100;

  .logo {
    background: url(../img/logo.png) no-repeat;
    height: 3 * $baseline;
  }

  .logo-wrapper {
    padding-top: $baseline;
    padding-left: $column;
  }
}

.header {
  background-color: $tangerine;
  height: 2*$baseline;

  #search-form {
    padding-top: $baseline + $half-baseline;
    padding-left: $column + $column-gap;
    position: relative;
  }

  #search {
    border: 0 none;
    padding-left: $column;
    width: 12*$column + 11*$column-gap;
    height: 2*$baseline;
    background-color: $white;
  }

  #search-icon {
    line-height: $baseline;
    position: absolute;
    padding: $half-baseline 0 0 $column-gap;
    color: $manatee;
    border: none;
    background-color: transparent;

    &:focus {
      outline: 0;
    }
  }

  ::-webkit-input-placeholder, ::-moz-placeholder {
    color: $mid-gray;
  }

  #search:focus {
    outline: 0;
  }
}

// right content area, this is the main content area
.main {
  margin-left: 5*$column + 4*$column-gap;
  width: 19*$column + 19*$column-gap;
  .header {
    height: 4*$baseline + $half-baseline;
  }

  .content {
    margin-left: $column + $column-gap;

    div {
      h3 {
        display: inline-block;
      }
    }

    div {
      .sorting {
        float: right;
      }
    }
    .text {
      margin-top: -($base-font-size + $base-font-size/4);
      margin-bottom: $base-font-size + $base-font-size/2;
      font-style: italic;
    }

    #import-main {
      width: 61.25%;
      height: 14*$baseline;
      float: left;
      display: inline-block;
    }

    .side-view {
      width: 38.75%;
      height: 14*$baseline;
      float: right;
      display: block;

      tr {
        border-bottom: none;
        border-top: none;
      }
    }
  }
}

// put into seperate file soon
#page-signin, #page-signup {
  .main {
    width: 10*$column + 10*$column-gap;
  }
}

#page-annotator #annotationArea {
  font-weight: 400;
}

#page-userlist {
  .button { margin-right: $column-gap; }
}