.button {
  background-color: $tangerine;
  border: 0;
  color: $black;
  cursor: pointer;
  display: inline-block;
  font-size: $base-font-size;
  padding: $half-baseline/2 $column-gap;
  text-decoration: none;
  text-align: center;
  width: 3*$column + 2*$column-gap;
  outline: none;

  &:hover {
    background-color: darken($tangerine, 5%);
    color: $black;
  }

  &.disabled {
    color: $manatee;
    background-color: $silver; 
    pointer-events: none;
  }
}

.button-secondary {
  background-color: $white;
  color: $ship-gray;

  &:hover {
    background-color: $silver;
    color: $black;
  }
}

.button-big {
  padding: $half-baseline $column-gap;
}

.button-small {
  padding: 0 $column-gap;
  border: 0;
}

.button-wide {
  width: 4*$column + 3*$column-gap;
}

.button-import {
  margin-right: $column + $column-gap;
}

#meta {
  outline: none;
}