.document-grid {
  @include list-reset;

  li {
    background-color: $white;
    border: 1px solid $silver;
    float: left;
    height: 7*$baseline;
    margin-left: $column-gap;
    margin-bottom: $baseline;
    width: 3*$column + 2*$column-gap;

    &:hover { border-color: $manatee; }
  }

 a {
    color: $ship-gray;
    text-decoration: none;

    &:hover { color: $black; }

    &.document-grid-content {
      display: block;
      height: 5*$baseline;
      padding: $half-baseline $column-gap/2 0 $column-gap/2;
      text-align: center;

      div {
        overflow: hidden;
        height: 4*$baseline;
      }

      &.upload {
        height: 7*$baseline;

        span{
          color: $tangerine;
          display: block;
          font-size: 42px;
          line-height: 3*$baseline;
        }
      }
    }
  }

  .document-grid-actions {
    border-top: 1px dotted $silver;
    padding: $half-baseline $column-gap/2;
    position: relative;

    span {
      color: $silver;
      cursor: pointer;
      line-height: $baseline;
      position: absolute;
      right: $column-gap/2;

      &:hover { color: $black; }
    }
  }
}

.scroll-container {
  height: 15*$baseline;
  overflow-y: scroll;
}

.document-list {
  @include list-reset;

  li {
    padding: ($half-baseline - 1px) $column-gap;
    background-color: $white;
    color: $dove-gray;
    border: 1px solid $silver;
    cursor: pointer;

    &:hover {
      color: $black;
      border-color: $manatee; 
    }

    &.ui-selected {
      background-color: $azure;
      color: $white;
    }
  }
}
