// Vertikales Menü

.nav-vertical {

  padding-top: $half-baseline;

  ul {
    @include list-reset;

    
    ul {
      display: none;
    }
  }

  li {
    a {
      border-left: $column-gap/2 solid $white; 
      color: $ship-gray;
      display: block;
      font-size: 20px;
      padding: $half-baseline ($column - $column-gap/2);
      text-decoration: none;

      .fa-fw { text-align: left; }
    }

    a:hover {
      color: $black;
    }

    &.active {
      a {
        background: $gallery;
        border-color: $tangerine;
        color: $black;
      }
    }
  }
}

.nav-horizontal {
  margin-bottom: 10px;

  ul {
    @include list-reset;
  }

  li {
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 0px $baseline 0px 0px;
    text-align: left;

    a, a:visited {
      color: $black;
      vertical-align: top;
      font-weight: bold;
      text-decoration: none;
    }

     a:hover:after, a:visited:after, a:active:after, a:focus:after {
      color: $black;
      content: '';
      position: absolute;
      left: 0;
      display: inline-block;
      height: 1em;
      width: 84%;
      border-bottom: 3px solid $tangerine;
      margin-top: 10px;
    }

    &.active {
      a {
        border-bottom: 3px solid $tangerine;
      }
    }
  }

  .sorting {
    float: right;
  }
}

#page-annotator {
  .nav-vertical {
    padding-top: 4.5*$baseline;

    li a {
      border-color: $gallery;
    }
  }
}
