// general gtyling of gavigation
.nav-vertical, .nav-horizontal {
  ul { @include list-reset; }

  li {
    a {
      color: $ship-gray;

      &.disabled {
        color: $manatee;
        pointer-events: none;
      }
    }

    a:hover,
    &.active a {
      color: $black;
    }

    .small {
      font-size: $base-font-size;
    }
  }
}

// vertical menu
.nav-vertical {
  ul { @include list-reset; }

  padding-top: $half-baseline;

  li {
    position: relative;
    a {
      border-left: $column-gap/2 solid $white;
      display: block;
      font-size: 20px;
      padding: $half-baseline 0 $half-baseline ($column - $column-gap/2);
      text-decoration: none;
      .fa-fw { text-align: left; }
    }

    &.active a {
      background: $gallery;
      border-color: $tangerine;
    }
  }
}

.nav-horizontal {
  margin: $half-baseline 0;

  li {
    display: inline-block;
    padding: 0px $baseline $baseline 0px;

    a {
      font-weight: bold;
      cursor: pointer;
      text-decoration: none;
    }

    &.active a { border-bottom: 3px solid $tangerine; }
  }
}

// submenu inside vertical navigation
.submenu {
  @extend %shadow;
  left: 2* $column + 2* $column-gap;
  position: absolute;
  top: 0;
  white-space: nowrap; // to have everything on one line and not linebreaks
}

.submenu-heading {
  @extend %border;
  background-color: $gallery;
  font-weight: bold;
  line-height: 2*$baseline;
  padding: 0 3*$column-gap 0 $column-gap;
  position: relative;

  i {
    color: $ship-gray;
    line-height: 2*$baseline;
    position: absolute;
    right: $column-gap;

    &:hover {
      color: $black;
      cursor: pointer;
    }
  }

  // the little triangle on the left
  &::after {
    content: "";
    position: absolute;
    left: 2px;
    top: 19px;
    border: 6px solid $silver;
    border-color: $gallery;
    transform-origin: 0 0;
    transform: rotate(45deg);
    box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.23);
  }
}

.submenu-content {
  li {
    @extend %border;
    background-color: $white;
    border-top: none;
    color: $black;
    cursor: pointer;
    padding: $half-baseline 3*$column-gap $half-baseline $column-gap;
    position: relative;

    &:hover {
      background-color: $tangerine;
      color: $white;

      .content-time {
        color: $gallery;
      }
    }
  }
}

.submenu-content-item {
  i {
    vertical-align: top;
    line-height: $baseline;
  }

  .content { display: inline-block; }
  .content-time {
    display: block;
    color: #909090;
  }
  .content-color {
    width: $baseline;
    height: $baseline;
    border: 1px solid $white;
    display: inline-block;
    position: absolute;
    right: $column-gap;
  }
}

#page-annotator {
  .nav-vertical {
    padding-top: 4.5*$baseline;

    li a {
      border-color: $gallery;
    }
  }
}
