table {
  width: 100%;
}

th {
  padding: 0 $baseline ($half-baseline - 1) 0;
}

td {
  padding: $half-baseline $baseline $half-baseline 0;
}

th, tr {
  text-align: left;
  border-bottom: 1px solid $silver;
  vertical-align: top;
}

.checkbox {
  width: 2*$column;
  height: $baseline;
}

.checkbox-import {
  width: $column/2;
  height: 2*$baseline;
  padding-right: 4px;
  float: left;
}

.checkbox-import:hover {
  input {
    cursor: pointer;
  }
}

