table {
  width: 100%;
}

th {
  padding: 0 $baseline ($half-baseline - 1) 0;
}

td {
  padding: $half-baseline $baseline $half-baseline 0;
}

th, tr {
  text-align: left;
  border-bottom: 1px solid $silver;
  vertical-align: top;
}

.checkbox {
  width: 2*$column;
  height: $baseline;
}

.checkbox-import {
  width: $column/2;
  height: 2*$baseline;
  padding-right: 4px;
  float: left;
}

.checkbox-import:hover {
  input {
    cursor: pointer;
  }
}

#metadata {
  .field {
    height: $baseline;
    width: 3*$column + 4*$column-gap;
    cursor: pointer;
    float: right;
  }

  .fieldSettings {
    height: $baseline;
    width: 4*$column + 5*$column-gap;
    cursor: pointer;
    float: left;
  }

  .field::-webkit-input-placeholder {
    font-style: italic;
  }

  .field::-ms-input-placeholder {
    font-style: italic;
  }

  .field::-moz-placeholder {
    font-style: italic;
  }

  tr > td > div {
    width: 4*$column + 4*$column-gap;
    display: inline-block;
    position: relative;
    padding: 2px 2px 2px 2px;
  }
}

#meta {
  margin-top: $baseline;
}