//
// Typography
// --------------------------------------------------

h1 {
  font-size: 26px;
  line-height: 2*$baseline; 
  margin: 0 0 $baseline 0;
}

h2 {
  @include heading-reset;

  margin-top: 0.5em;
  padding-bottom: $base-font-size;
}

h3 {
  font-size: 18px;
  line-height: $baseline;
  margin: $half-baseline 0 $half-baseline 0;
}

pre {
  margin: 0 0 $baseline 0;
}

hr {
  margin: 0;
  border: solid $silver;
  border-width: 1px 0 0;
}

.mark, mark {
  background-color: transparentize($tangerine, 0.7);
}

a {
  color: $ship-gray;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: $black;
  }

  &.mark {
    text-decoration: none;

    &:hover {
      background-color: $tangerine;
    }
  }
}

// Lists
// -------------------------

// Unstyled keeps list items block level, just removes default browser padding and list-style
.list-unstyled {
  @include list-reset;
}

// Inline turns list items into inline-block
.list-inline {
  @extend .list-unstyled;

  > li {
    display: inline-block;
    margin-right: $column-gap;
    padding-right: $column-gap;
  }
}

// List having icons do have proper margin
.list-icon {
  i { margin-right: $column-gap/2; }
}

// Special list for context area having lines inbetween items and last element floats right
.context-list {
  @extend .list-inline;
  @extend .list-icon;

  > li {
    &:not(:nth-last-child(-n+2)) { border-right: 1px solid; }
  }

  .loggedin {
    @extend .pull-right;
    padding: 0px;
    margin: 0px;
  }
}