h1 {
  font-size: 26px;
  line-height: 2*$baseline; 
  margin: 0 0 $baseline 0;
}

h2 {
  @include heading-reset;

  margin-top: 0.5em;
  padding-bottom: $base-font-size;
}

h3 {
  font-size: 18px;
  line-height: $baseline;
  margin: $half-baseline 0 $half-baseline 0;
}

pre {
  margin: 0 0 $baseline 0;
}

hr {
  margin: 0;
  border: solid $silver;
  border-width: 1px 0 0;
}