{% extends "accounts/base_registration.html" %}

{% load staticfiles %}

{% block registration %}
<div class="big">Sign Up</div>
</div>
<div class="units-row">
    <form class="width-50" action="" method="post">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        <p>{{ form.email }}</p>
        <p>{{ form.name }}{{ form.surname}}</p>
        <p>{{ form.password1 }}</p>
        <p>{{ form.password2 }}</p>
        <button class="btn-blue">Register</button>
    </form>
</div>
{% endblock %}
