{% extends "accounts/base_accounts.html" %}

{% load staticfiles %}

{% block title %}Register{% endblock %}


{% block registration %}
<div class="big">Sign Up</div>
</div>
<div class="units-row">
    <form class="width-50" action="" method="post">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        <p><label class="sticky">{{ form.email.label }}{{ form.email }}</label></p>
        <p><label class="sticky">{{ form.name.label }}<br/>{{ form.name}}{{ form.surname}}</label></p>
        <p><label class="sticky">{{ form.password1.label }}{{ form.password1 }}</label></p>
        <p><label class="sticky">{{ form.password2.label }}{{ form.password2 }}</label></p>
        <button class="btn-blue">Register</button>
    </form>
</div>
{% endblock %}
