<table ng-controller='UserListCtrl'>
    <thead>
        <tr>
            <th>User</th>
            <th>Account</th>
        </tr>
    </thead>
    <tbody>
         <tr ng-repeat="user in users | orderBy:'email'">
            <td>{{ user.email }}</td>
            <td>
                <a ng-show="user.is_superuser" 
                class="button button-small button-wide" 
                ng-click="update(user,'is_superuser', false)">
                    Make user
                </a>
                <a ng-hide="user.is_superuser" 
                class="button button-small button-wide" 
                ng-click="update(user,'is_superuser', true)">
                    Make admin
                </a>

                <a ng-show="user.is_active" 
                class="button button-small button-wide" 
                ng-click="update(user,'is_active', false)">
                    Deactivate
                </a>
                <a ng-hide="user.is_active" 
                class="button button-small button-wide" 
                ng-click="update(user,'is_active', true)">
                    Activate
                </a>

                <a ng-hide="user.is_superuser" 
                class="button button-small" 
                ng-click="delete(user)">
                    Delete
                </a>
            </td>
        </tr>
    </tbody>
</table>