<table ng-controller='GroupsCtrl'>
    <thead>
        <tr>
            <td>
                <input type="text" name="input" ng-model="form.groupName" required ng-trim="true" />
            </td>
            <td>
                <a class="button button-small" ng-click="createGroup()">
                    <span class="fa fa-plus fa-fw"></span>Create
                </a>
            </td>
        </tr>
    </thead>
    <thead>
        <tr>
            <th>Group</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
         <tr ng-repeat="group in groups | orderBy:'name'">
            <td>{{ group.name }}</td>
            <td>
                <a class="button button-small">
                    <span class="fa fa-users fa-fw"></span>Member
                </a>
                <a class="button button-small" ng-click="deleteGroup(group)">
                    <span class="fa fa-times fa-fw"></span>Delete
                </a>
            </td>
        </tr>
    </tbody>
</table>