<table class="table" ng-controller='GroupListCtrl'>
    <thead>
        <tr>
            <td>
                <form class="navbar-form navbar-right pull-left" role="search">
                     <input class="form-control" type="text" ng-model="form.groupName" required ng-trim="true" />
                </form>
            </td>
            <td>
                <a class="btn btn-primary" ng-click="createGroup()">
                    <i class="fa fa-plus fa-fw"></i>Create
                </a>
            </td>
        </tr>
    </thead>
    <thead>
        <tr>
            <th>Group</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
         <tr ng-repeat="group in groups | orderBy:'name'">
            <td class="col-md-3">{{ group.name }}</td>
            <td class="col-md-9">
                <a class="btn btn-primary" ng-click="showMembership(group)">
                    <i class="fa fa-users fa-fw"></i>Membership
                </a>
                <a ng-show="group.owner != null" class="btn btn-primary" ng-click="deleteGroup(group)">
                    <i class="fa fa-times fa-fw"></i>Delete
                </a>
                <div ng-show="group.id == form.selectedGroup">
                    <table class="table">
                        <tr>
                            <th>User</th>
                            <th>Document</th>
                        </tr>
                        <tr>
                            <td>
                                <div ng-repeat="user in users | orderBy:'email'">
                                    <input id="ch_{{ group.id }}_{{ user.id }}"
                                    type="checkbox"
                                    style="width:auto;"
                                    ng-click="toggleMembership(group, user)"
                                    ng-checked="userEntitled(group, user)" />
                                    <label>{{ user.email }}</label>
                                </div>
                            </td>
                            <td>
                                <div ng-repeat="document in documents | orderBy:'title'">
                                    <input id="ch_{{ group.id }}_{{ user.id }}"
                                    type="checkbox"
                                    style="width:auto;"
                                    ng-click="toggleDocumentAssignment(group, document)"
                                    ng-checked="documentEntitled(group, document)" />
                                    <label>{{ document.title }}</label>
                                </div>
                            </td>
                        </tr>

                    </table>
                </div>
            </td>
        </tr>
    </tbody>
</table>