<nav class="nav-vertical">
    <ul ng-controller="AnnotatorMenuCtrl">
        <li>
            <a id="nav-home" class="simptip-position-right" href="/" data-tooltip="Home">
                <span class="fa fa-home fa-fw"></span>
            </a>
        </li>
        <li>
            <a id="nav-annotate" class="simptip-position-right" data-tooltip="Find concepts"
               ng-click="startNamedEntityRecognition()">
                <span class="fa fa-magic fa-fw"></span>
            </a>
        </li>

        <li ng-class="{active:active===0}" ng-cloak>
            <a id="nav-anotate" ng-click="toggleSubMenu(0)"
               ng-class="{'disabled': annotatorService.contributors.length===0 }">
                <span class="fa fa-users fa-fw"></span>
                <span class="fa fa-caret-right small"></span>
            </a>

            <div class="submenu ng-cloak" ng-show="active === 0">
                <div class="submenu-heading icon-right">Toggle Contributers<i class="fa fa-times"
                                                                              ng-click="toggleSubMenu(0)"></i>
                </div>
                <ul class="submenu-content">
                    <li class="submenu-content-item icon-left"
                        ng-repeat="contrib in annotatorService.contributors | orderBy:'-updated'"
                        ng-click="toggleContributor(contrib)">
                        <i class="fa fa-fw"
                           ng-class="{'fa-eye': contrib.showAnnotation, 'fa-eye-slash': !contrib.showAnnotation }"></i>

                        <div class="content">{{ contrib.user }}
                            <small class="content-time"><i
                                    class="fa fa-clock-o"></i>{{ contrib.updated | date: 'short' }}</small>
                        </div>
                        <div class="content-color" ng-class="{'invisible': !contrib.showAnnotation }"
                             style="background-color:{{ contrib.color }}"></div>
                    </li>
                </ul>
            </div>
        </li>

        <li ng-class="{active:active===1}">
            <a id="nav-anotate" ng-click="toggleSubMenu(1)">
                <span class="fa fa-pencil fa-fw"></span>
                <span class="fa fa-caret-right small"></span>
            </a>

            <div class="submenu ng-cloak" ng-show="active === 1">
                <div class="submenu-heading icon-right">Switch Annotation Mode
                    <i class="fa fa-times"
                       ng-click="toggleSubMenu(1)">

                    </i>
                </div>
                <ul class="submenu-content">
                    <li ng-click="setAnnotationMode(mode.commenting)"
                        class="icon-left"><span>
                        <i class="fa fa-check fa-fw"
                           ng-class="{invisible: getAnnotationMode()!==mode.commenting}">

                        </i>Commenting</span>
                    </li>
                    <li ng-click="setAnnotationMode(mode.conceptTagging)" class="icon-left"><span><i
                            class="fa fa-check fa-fw"

                            ng-class="{invisible: getAnnotationMode()!==mode.conceptTagging}"
                            ></i>Concept Tagging</span>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a id="nav-anotate" class="simptip-position-right" data-tooltip="Last annotation"
               ng-click="scrollToLastAnnotation()">
                <span class="fa fa-arrow-circle-down fa-fw"></span>
            </a>
        </li>
        <li>
            <a id="nav-fullscreen" class="simptip-position-right disabled" data-tooltip="Fullscreen"
               ng-click="enableFullscreen()">
                <span class="fa fa-expand fa-fw"></span>
            </a>
        </li>
    </ul>
</nav>