<div ng-cloak>
    <div id="document-frame" class="panel panel-default">
        <div id="document-title" class="panel-heading big">{{ document.title }}</div>
        <div ng-switch on="document.attached_file.content_type">
            <div ng-switch-when="text/plain">
                <ng-include src="'/static/partials/annotator_render_default.html'" onload="setupAnnotator(params)"></ng-include>
            </div>
             <div ng-switch-when="text/html">
                 <ng-include src="'/static/partials/annotator_render_default.html'" onload="setupAnnotator(params)"></ng-include>
            </div>
            <div ng-switch-when="application/pdf">
                 <ng-include src="'/static/partials/annotator_render_pdf.html'" onload="renderPDF()"></ng-include>
            </div>
            <div ng-switch-default>The format <i>{{ document.attached_file.content_type }}</i> is not supported yet</div>
        </div>
    </div>
</div>