<button type="button" >
    <i class="fa fa-plus"></i>&nbsp;{{ locales.create }}
</button>
<div class="panel panel-default" ng-repeat="resource in resources | orderBy : 'label'">
    <div class="panel-body">
        <b ng-bind-html="getItemHeader(resource)"></b>
        <span ng-show="getItemSubHeader" ng-bind-html="getItemSubHeader(resource)"></span>
        <p ng-show="getItemDescription" ng-bind-html="getItemDescription(resource)"></p>
        <p ng-show="getItemFooter" ng-bind-html="getItemFooter(resource)"></p>
    </div>
</div>