<div ng-show="listModeEnabled">
    <div class="row">
        <div class="col-md-12">
            <div class="btn-toolbar gap-bottom pull-right">
                <button ng-show="style.allowCreate" type="button" class="btn btn-primary"
                        ng-click="createItem()">
                    {{ locales.create }}
                </button>
            </div>
        </div>
    </div>
    <div ng-switch on="style.compact" class="row">
        <div class="col-md-12">
            <div ng-switch-when="true" class="list-group">
                <button button type="button" class="list-group-item"
                        ng-click="editItem(resource)"
                        ng-repeat="resource in resources | filter:filterResources | orderBy : 'label'">
                    <b class="list-group-item-heading" ng-bind-html="getItemHeader(resource)"></b>

                    <p class="list-group-item-text" ng-show="getItemDescription"
                       ng-bind-html="getItemDescription(resource)"></p>
                </button>
            </div>
            <div ng-switch-default class="panel panel-default"
                 ng-repeat="resource in resources | filter:filterResources | orderBy : 'label'">
                <div class="panel-body" ng-click="editItem(resource)">
                    <p class="list-group-item-heading">
                        <b ng-bind-html="getItemHeader(resource)"></b>
                        <span ng-show="getItemSubHeader" ng-bind-html="getItemSubHeader(resource)"></span>
                    </p>

                    <p class="list-group-item-text" ng-show="getItemDescription"
                       ng-bind-html="getItemDescription(resource)"></p>

                    <p class="list-group-item-text" ng-show="getItemFooter" ng-bind-html="getItemFooter(resource)"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-hide="listModeEnabled">
    <ng-include ng-show="style.detailTemplateUrl" src="style.detailTemplateUrl"></ng-include>
</div>