<h3>Document properties</h3>
<div><i>Please choose the properties corresponding to the Dublin Core Metadata</i></div>
<div><i>Element Set that you want to consider for your documents</i></div>

<table id="meta-table" ng-controller="MetaDataCtrl">

    <thead>
        <th>Chosen</th>
        <th>Property</th>
        <th>Definition</th>
    </thead>

    <tbody id="metadata">
        <tr ng-repeat="(key, value) in metaDataValues | orderBy:identity">
            <td class="checkbox" ng-model="metaDataValues[key].checked">
                <input type="checkbox" ng-model="metaDataValues[key].checked"
                       ng-submit="submit()"/>
            </td>
            <td>{{ key }}</td>
            <td>{{ value.definition }}</td>
        </tr>
    </tbody>

</table>