<table id="meta-table" ng-controller="MetaDataCtrl">

    <thead>
        <th>Property</th>
        <th>Definition</th>
        <th>Entry</th>
    </thead>

    <tbody id="metadata">
        <tr ng-repeat="(key, value) in metaDataValues">
            <td>{{ key }}</td>
            <td>{{ value.definition }}</td>
            <td>
                <form ng-submit="submit()">
                    <input class="fieldSettings" id="meta-{{$index}}" type="text"
                            ng-model="value.value">
                </form>
            </td>
        </tr>
    </tbody>

</table>