
<p class="text">
    Please choose the properties you want to consider for this list <br>
    that corresponds to the Dublin Core Metadata Element Set
</p>

<table ng-controller="MetaDataCtrl">

    <thead>
        <th>Active</th>
        <th>Property</th>
        <th>Entry</th>
        <th>Definition</th>
    </thead>

    <tbody id="metadata">
        <tr ng-repeat="(key, value) in metaDataValues">
            <td class="checkbox" ng-model="metaDataValues[key].checked">
                <input type="checkbox" ng-model="metaDataValues[key].checked"/>
            </td>
            <td>{{ key }}</td>
            <td>
                <form ng-submit="metaDataValues[key].checked=true">
                    <input class="fieldSettings" id="meta-{{$index}}" type="text" placeholder="There is no {{ key }}">
                </form>
            </td>
            <td>{{ value.definition }}</td>
        </tr>
    </tbody>

</table>