<table>
    <thead>
    <tr>
        <th>Annotation Context</th>
        <th>Document</th>
        <th>Created</th>
    </tr>
    </thead>
    <tbody ng-controller="MyAnnotationOccurrenceListCtrl" ng-cloak>
        <tr ng-repeat="occur in ann_occur | orderBy:'-created'">
            <td> {{ occur.contextLeft }} <strong>{{ occur.ann }} </strong> {{ occur.contextRight }}</td>
            <td> {{ occur.title }}</td>
            <td> {{ occur.created | date : "MM/dd/yyyy 'at' h:mma" }} </td>
        </tr>
    </tbody>
</table>