<div ng-init="tab = 2" ng-cloak>
    <nav class="nav-horizontal">
        <ul>
            <li ng-class="{active:tab===1}"><a href="" ng-click="tab = 1">Semantic Annotation</a></li>
            <li ng-class="{active:tab===2}"><a href="" ng-click="tab = 2">Freetext Annotation</a></li>
        </ul>
    </nav>

    <div class="wrapper" ng-switch="tab">
        <div ng-switch-when="1">
            <ng-include src="'/static/partials/myannotations/semantic-annotation.html'"></ng-include>
        </div>
        <div ng-switch-when="2">
            <ng-include src="'/static/partials/myannotations/freetext-annotation.html'"></ng-include>
        </div>
    </div>
</div>