<table ng-controller="NamedEntityCtrl">
    <thead>
        <th>Model</th>
        <th>Parameter</th>
        <th>Value</th>
        <th>Updatable</th>
    </thead>
    <tbody ng-repeat="model in models">
        <tr>
            <th rowspan="12">{{ model.identifier }}</th>
        </tr>
        <tr ng-repeat="parameter in model.parameters">
            <td>{{ parameter.label }}</td>
            <td>{{ parameter.default }}</td>
            <td>{{ parameter.updatable }}</td>
        </tr>
    </tbody>
</table>