<p>Please select the files you want to import to your working space.</p>
<div ng-controller="WorkspaceImportCtrl" data-ng-init="init()">
    <div class="scroll-container">
        <ul id="document-import-list" class="document-list">
            <li ng-repeat="document in documents" id="{{ document.urn }}">{{ document.name }}</li>
        </ul>
    </div>
    <div class="form-buttons">
        <button ng-click="importDocuments()" class="button pull-right">Import</button>
        <a href="/" class="button button-secondary pull-right">Cancel</a>
    </div>
</div>