<div class="row" ng-cloak>
    <div id="document-frame" class="gap-top gap-bottom">
        <div ng-switch on="document.attached_file.content_type">
            <div ng-switch-when="text/plain">
                <ng-include src="'/static/partials/annotator-render-plain.html'"></ng-include>
            </div>
             <div ng-switch-when="text/html">
                 <ng-include src="'/static/partials/annotator-render-plain.html'"></ng-include>
            </div>
            <div ng-switch-when="application/pdf">
                 <ng-include src="'/static/partials/annotator-render-pdf.html'"></ng-include>
            </div>
        </div>
    </div>
</div>