<nav class="toolbar">
    <ul ng-controller="AnnotatorMenuCtrl" class="nav">
        <li>
            <a id="nav-home" class="simptip-position-right" ng-click="home()" data-tooltip="Home">
                <i class="fa fa-home fa-fw"></i>
            </a>
        </li>
        <li>
            <a id="nav-annotate" class="simptip-position-right" data-tooltip="Find concepts"
               ng-click="startNamedEntityRecognition()">
                <i class="fa fa-magic fa-fw"></i>
            </a>
        </li>
        <!-- CONTRIBUTORS -->
        <li class="dropdown" ng-class="{'disabled': annotatorService.contributors.length===0 }">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-users fa-fw"></i>
                <i class="fa fa-caret-right small"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-side">
                <li class="dropdown-header">Toggle Contributors</li>
                <li class="dropdown-item" ng-repeat="contrib in annotatorService.contributors | orderBy:'-updated'" ng-click="toggleContributor(contrib)">
                    <a>
                        <i class="fa fa-fw" ng-class="{'fa-eye': contrib.showAnnotation, 'fa-eye-slash': !contrib.showAnnotation }"></i>
                        <span>{{ contrib.user }}<small><i                  class="fa fa-clock-o fa-fw"></i>{{ contrib.updated | date: 'short' }}</small></span>
                        <!-- <div class="dropdown-item-color" ng-class="{'invisible': !contrib.showAnnotation }"
                         style="background-color:{{ contrib.color }}"></div> -->
                     </a>
                </li>
            </ul>
        </li>

        <!-- ANNOTATION MODE -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-pencil fa-fw"></i>
                <i class="fa fa-caret-right small"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-side">
                <li class="dropdown-header">Switch Annotation Mode</li>
                <!-- MODE COMMENTING -->
                <li class="dropdown-item" ng-click="setAnnotationMode(mode.commenting.value)">
                    <a>
                        <i class="fa fa-check fa-fw" ng-class="{invisible: getAnnotationMode()!==mode.commenting.value}"></i><span>Commenting<small>{{ shortCutModifier.default.modifierText + mode.commenting.shortCut }}</small></span>
                        <div class="dropdown-item-color annotator-hl-comment"></div>
                    </a>
                </li>
                <li class="dropdown-item" ng-click="setAnnotationMode(mode.highlighting.value)">
                    <a>
                        <i class="fa fa-check fa-fw" ng-class="{invisible: getAnnotationMode()!==mode.highlighting.value}"></i><span>Highlighting<small>{{ shortCutModifier.default.modifierText + mode.highlighting.shortCut }}</small></span>
                        <div class="dropdown-item-color annotator-hl-highlight"></div>
                    </a>
                </li>
                <li class="dropdown-item" ng-click="setAnnotationMode(mode.conceptTagging.value)">
                    <a>
                        <i class="fa fa-check fa-fw" ng-class="{invisible: getAnnotationMode()!==mode.conceptTagging.value}"></i><span>Concept Tagging<small>{{ shortCutModifier.default.modifierText + mode.conceptTagging.shortCut }}</small></span>
                        <div class="dropdown-item-color annotator-hl-concept"></div>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a id="nav-anotate" class="simptip-position-right" data-tooltip="Last annotation"
               ng-click="scrollToLastAnnotation()">
                <i class="fa fa-arrow-circle-down fa-fw"></i>
            </a>
        </li>
        <li>
            <a id="nav-fullscreen" class="simptip-position-right disabled" data-tooltip="Fullscreen"
               ng-click="enableFullscreen()">
                <i class="fa fa-expand fa-fw"></i>
            </a>
        </li>
    </ul>
</nav>