{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Übersicht{% endblock %}

{% block content %}
<div class="bg bg-20"></div>

<div class="units-row end">
    <div class="unit-20 overview-nav">
        <div class="units-row">
            <hgroup>
                <h1>NEONION</h1>
                <h3 class="subheading">rethinking Annotation</h3>
            </hgroup>
        </div>
    </div>

    <div class="unit-80">
    {% block right_top %}
        <p class="input-groups">
            <input type="text" name="go" placeholder="Search" />
            <span class="btn-append">
                <button class="btn btn-green">Search</button>
            </span>
        </p>
    {% endblock %}
    </div>

</div>

<div class="units-row">

    <div class="unit-20">
        <nav class="nav">
            <ul>
                <li><a href="/annotator">My Neonion</a></li>
                <li><span>Annotate</span></li>
                <li><span>Analyze</span></li>
                <li><span>Profile</span></li>
                <li><span>Settings</span></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url "auth_logout" %}?next=/">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'django.contrib.auth.views.login' %}?next=/">Login</a></li>
                {% endif %}

            </ul>
        </nav>
    </div>

    <div class="unit-80">
    {% block right_bottom %}
        <table id="document-table" class="table-simple"><tr><td>Loading...</td></tr></table>
    {% endblock %}
    </div>

</div>
{% endblock %}


{% block scripts %}
    <script language="javascript">

    $(document).ready(function() {
        loadDocumentList(config);
    });

    function loadDocumentList(config) {
      // load document from loomp
        jQuery.ajax({
            url: config.server + config.service.getAll + "?type=" + config.uri.elementText,
            type: 'GET',
            crossDomain: true,
            dataType: 'json'
        }).done(function(response) {
            $('#document-table').html('');
            response.forEach(function(entry) {
                var uri = entry.uri.split("/")
                var id = uri[uri.length-1]
                var element = $('<tr></tr>')
                    .append($('<td class="element-cell"></td>')
                        .append($('<a href="/annotator/' + id + '">' + entry.title + '</a>'))
                        .append($('<div class="document-list-buttons"></div>')
                            .append('<span>[info]</span>')
                            .append('<span>[delete]</span>')
                        )
                    );
                $("#document-table").append(element);
            });

        });


    }

    </script>
{% endblock %}