{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Import{% endblock %}


{% block top_right %}{% endblock %}


{% block bottom_left %}
    <div class="unit-20">
        <nav class="nav">
            <ul>
                <li><a href="/annotator"><span class="fa fa-home fa-fw"></span>My Neonion</a></li>
                <li><a href="#" id="show_import_dialog" class="nav-active"><span class="fa fa-upload fa-fw"></span>Import</a></li>
                <li><span><span class="fa fa-pencil-square-o fa-fw"></span>Annotate</span></li>
                <li><span><span class="fa fa-bar-chart-o fa-fw"></span>Analyze</span></li>
                <!-- <li><a href="/accounts/profile"><span class="fa fa-child fa-fw"></span>Profile</a></li> -->
                <!-- <li><span><span class="fa fa-cogs fa-fw"></span>Settings</span></li> -->
                <li><a href="/accounts/logout"><span class="fa fa-sign-out fa-fw"></span>Logout</a></li>
                <li id="help-link"><span><span class="fa fa-question fa-fw"></span>Help</span></li>
            </ul>
        </nav>
    </div>
{% endblock %}


{% block bottom_right %}
<div class="unit-80" style="padding-top: 1em;">
    <p style="">Please select the files you want to import to your working space.</p>
    <div class="import-dialog" id="dialog-import">
        <ul id="document-import-list"></ul>
        <div class="units-row end dialog-foot">
            <button class="btn btn-small btn-outline mid cancel-btn">Cancel</button>
            <button class="btn btn-small btn-outline mid" onclick="importSelectedDocuments()">Import</button>
            <div id="document-cache" style="display:none"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

<script language="javascript">

    var selectedDocs = [];

    $(document).ready(function() {
        $( "#document-import-list" ).selectable();

        $("#document-import").click(function() {
            $("#document-import").attr("disabled", true);
            importDocuemt();
        });

        refreshDocuments();
    });

    function refreshDocuments() {
        $.getJSON("/document/list", function(data) {
            // clear list
            $("#document-import-list").html('');
            // create docuement import list
            $.each(data, function(index, value) {
                // var item = new Option( value.urn, value.name );
                var item = $('<li></li>').attr( 'id', value.urn ).text( value.name ).attr('class','ui-widget-content');
                $('#document-import-list').append( item );
            });
        });
    }

    function importSelectedDocuments(){
        $( '.ui-selected' ).each(function() {
            selectedDocs.push( this.id );
        });

        if (selectedDocs.length > 0) {
            raiseDocumentRetrieval(selectedDocs[0]);
        }
    }

// ------------------------------------------------------ //
// Document retrieval and import to SCMS
// ------------------------------------------------------ //

    function raiseDocumentRetrieval(doc) {
        console.log("Import doc: " + doc);
        $("#document-cache").html("");
        getPageAsync(doc, 1);
    }

    function getPageAsync(doc, pageNum) {
        jQuery.ajax({
            url: sprintf(config.cms.server + config.cms.service.getPage, { uri : doc, pn : pageNum }),
            contentType: 'text/plain',
            type: 'GET',
            xhrFields : { withCredentials: false },
            headers: { },
            success : function(data, textStatus, jqXHR) {
                $("#document-cache").append(data);
                // TEST limit pages
                if (pageNum < 5)
                    getPageAsync(doc, pageNum + 1);
                 else
                    closureDocumentRetrieval(doc);
            },
            error : function(jqXHR, textStatus, errorThrown) {
                if (jqXHR.status == 404) {
                    closureDocumentRetrieval(doc);
                }
            }
        });
    }

    function closureDocumentRetrieval(doc) {
        importDocuemt(doc);

        // remove recenlty imported doc and proceed
        selectedDocs.shift()
        if (selectedDocs.length > 0) {
            raiseDocumentRetrieval(selectedDocs[0]);
        }
        else {
            closeImportDialog();
        }
    }

    function getNormalizedContent() {
        var stripMarkupRegex = /(<([^>]+)>)/ig;
        var stripLinebreaksRegex = /(\r\n|\n|\r)/gm;
        var collapseWhiteSpaceRegex = /\s+/g;
        var fullTrimRegex = /^\s+|\s+$/g;

        //console.log($("#document-cache").html());

        var paragrapgNodes = $("#document-cache p.ocr_par");
        var paragrapgs = new Array(paragrapgNodes.length);

        // normalize content and store paragraph
        paragrapgNodes.each(function(index, value) {
            paragrapgs[index] = value.innerHTML
            .replace(stripMarkupRegex, "")
            .replace(stripLinebreaksRegex, " ")
            .replace(collapseWhiteSpaceRegex, " ")
            .replace(fullTrimRegex, "");
        });

        // concat content blob
        var content = "";
        $.each(paragrapgs, function(index, value) {
            if (value.length > 0) {
                content += "<p>" + value + "</p>";
            }
        });

        return wrapContent(content);
    }

    function wrapContent(html) {
        return "<span xml:lang='de'>" + html + "</span>";
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function importDocuemt(docUrn) {
        var title = docUrn;
        // get proper title
        docList.forEach(function(element, index, array) {
            if (element.urn == docUrn) {
                title = element.name;
            }
        });

        // assemble POST data
        var entityData = {
            uri : null ,
            title : title,
            content : getNormalizedContent(),
            type : config.scms.uri.elementText,
            dataCreated : 0, lastModified : 0,
        };

        jQuery.ajax({
            url: config.scms.server + config.scms.service.create,
            type: 'POST',
            data : { "data" : JSON.stringify(entityData), fmt : "JSON", csrfmiddlewaretoken : getCookie('csrftoken') }
        }).success(function(data, textStatus, jqXHR) {

        }).error(function(jqXHR, textStatus, errorThrown) {
            console.log(errorThrown);
        });
    }

</script>

{% endblock %}