{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Annotator{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/annotator.neonion.css' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'css/annotator.min.css' %}" type="text/css" media="screen" />
{% endblock %}

{% block top %}
    <div class="bg bg-10"></div>
{% endblock %}

{% block bottom_left %}
    <div class="unit-10 annotator-nav">
        <nav class="nav">
            <ul>
                <li><a href="/annotator"><span class="fa fa-home fa-fw" title="MyNeonion"></span></a></li>
                <li><span class="fa fa-expand fa-fw" id="enableFullscreen" title="Fullscreen"></span></li>
                <li><span class="fa fa-bar-chart-o fa-fw deactivated" title="Analyze"></span></li>
                <li>&nbsp;</li>
                <ul id="annotationSets">
                    <li><span class="fa fa-users fa-fw active" title="Persons" annotationSet="p"></span></li>
                    <li><span class="fa fa-university fa-fw" title="Institutions" annotationSet="i"> </span></li>
                    <li><span class="fa fa-book fa-fw" title="References" annotationSet="r"></span></li>
                </ul>
                <li id="help-link"><span class="fa fa-question fa-fw" title="Help"></span></li>
            </ul>
        </nav>
    </div>
{% endblock %}

{% block bottom_right %}
    <div class="unit-centered unit-60">
        <div class="units-row">
            <div id="annotationArea" class="panel panel-default" >
                <div id="documentTitle" class="panel-heading big"></div>
                <div id="documentText" class="panel-body"><span class="fa fa-spinner fa-spin"></span> Loading...</div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="{% static 'js/annotator.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/annotator.neonion.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/annotator.store.min.js' %}"></script>

    <script language="javascript">

        var data = {
            resourceName : "{{ doc_id }}",
            document : null
        };

        $(document).ready(function() {
            loadDocument(config.scms.resourceName);
            loadAnnotationSets();

            $( '#annotationSets li span' ).each( function(){
                $( this ).click( function(){
                    $( this ).toggleClass( 'active' );
                    console.log( checkAnnotationSetSelection() );
                });
            });

            $( '#enableFullscreen' ).click(function(){
                enableFullscreen( document.getElementById( 'annotationArea' ) );
            });


        });

        function checkAnnotationSetSelection(){
            var activeAnnotationSets = [];
            $( '#annotationSets li span' ).each( function(){
                if( $( this ).hasClass('active') ){
                    activeAnnotationSets.push( $( this ).attr( 'annotationSet' ) );
                }
            });
            return activeAnnotationSets;
        }

        // Find the right method, call on correct element
        function enableFullscreen(element) {
          if(element.requestFullscreen) {
            element.requestFullscreen();
          } else if(element.mozRequestFullScreen) {
            element.mozRequestFullScreen();
          } else if(element.webkitRequestFullscreen) {
            element.webkitRequestFullscreen();
          } else if(element.msRequestFullscreen) {
            element.msRequestFullscreen();
          }
        }

        function loadDocument (resourceName) {
            // load document from loomp
            jQuery.ajax(
            {
                url: sprintf(config.scms.server + config.scms.service.get, { uri : config.scms.uriPrefix + data.resourceName }),
                type: 'GET',
                crossDomain: true,
                dataType: 'json'
            }
            ).done(function(response) {
                // TODO move loading document to server template
                data.document = response;
                $("#documentTitle").html(data.document.title);
                $("#documentText").html(data.document.content);
                $("#documentText").annotator()
                .annotator('addPlugin', 'Neonion', {"opt": "Hallo"})
                .annotator('addPlugin', 'Store', {
                    // The endpoint of the store on your server.
                    prefix : config.store.server,
                    // Attach the uri of the current page to all annotations to allow search.
                    annotationData: { 'uri' : data.resourceName },
                    loadFromSearch: { 'uri' : data.resourceName }
                });
            });
        }

        function loadAnnotationSets() {
            // TODO
            jQuery.ajax({
                url: sprintf(config.scms.server + config.scms.service.getAll, { type : config.scms.uri.annotationSet }),
                type: 'GET',
                crossDomain: true,
                dataType: 'json'
            }).done(function(response) {
                //console.log(response);
            });
        }

        function saveDocument(config) {
            /*var contentNode = Annotator._instances[0].wrapper[0].childNodes[0];
            data.document.content = contentNode.outerHTML;*/

            //console.log(data.document.content);
            /*jQuery.ajax(
            {
                url: config.scms.server + config.scms.service.save,
                type: 'POST',
                data : { "data" : JSON.stringify(data.document), fmt : "JSON" }
            }).success(function(data, textStatus, jqXHR) {
                console.log(data);
            }).error(function(jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            });*/
        }

    </script>
{% endblock %}