{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Import{% endblock %}

{% block stylesheets %}{% endblock %}


{% block content %}
<div class="bg bg-20"></div>

<div class="units-row">

    <div class="unit-20 annotator-nav">
        Nav
    </div>

    <div class="unit-centered unit-60">
         <div class="units-row">
            <button class="btn btn-green" id="document-retrieve" >
                Importieren
            </button>
        </div> 
        <div class="units-row">
            <div id="annotationArea" style="display:none;" class="panel panel-default" >
                <div id="spinner"><span class="fa fa-spinner fa-spin"></span> Loading...</div>
                <div id="documentText" class="panel-body"></div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}

    <script language="javascript">

        var docUris = [
            "Tätigkeitsberichte_der_MPG___Tätigkeitsbericht_der_MPG_1964-1965",
            "Tätigkeitsberichte_der_MPG___Tätigkeitsbericht_der_MPG_1958-1960",
            "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1972-1973",
            "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1968-1969",
            "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1966-1967",
            "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1964-1965",
            "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1962-1963",
            "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1961-1962",
            "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1960-1961",
            "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1958-1960",
            "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1956-1958",
            "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1954-1956",
            "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1952-1954_Teil2",
            "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1952-1954_Teil1",
            "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1951-1952",
            "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1946-51_Teil3",
            "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1946-51_Teil2",
            "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1946-51_Teil1"
        ]

        function retrieveDocument(docUri) {
            $("#spinner").show();
            $("#documentText").html("");
            getPage(docUri, 0);
        }

        function getPage(docUri, pageNum) {
            jQuery.get(
                config.cms.server + config.cms.service.getPage + docUri + "&pn=" + pageNum,
                function(data, textStatus, jqXHR) {
                    $("#documentText").append(data);
                    getPage(docUri, pageNum + 1);
            }).error(function(jqXHR, textStatus, errorThrown) {
                endRetrieveDocument();

                console.log(textStatus);
            });
        }

        function endRetrieveDocument() {
           $("#spinner").hide(); 
        }

        $(document).ready(function() {
            $("#document-retrieve").click(function() {
                retrieveDocument(docUris[0]);
            });
        });

    </script>
{% endblock %}