{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Annotationsbereich{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/annotator.min.css' %}" type="text/css" media="screen" />
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8 panel" >
        <div id="annotationArea" class="panel panel-default" >
            <div id="documentTitle" class="panel-heading"></div>
            <div id="documentText" class="panel-body">Loading...</div>
        </div>
    </div>
    <div id="miniMap" class="col-md-4">
        <button id="document-save" type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-save"></span> Speichern
        </button>

        <div id="alert-saved" class="alert alert-success fade" role="alert">
            Dokument gespeichert
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/annotator.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/annotator.neonion.js' %}"></script>

    <script language="javascript">

        var data = {
            resourceName : "http://loomp.org/data/269d9aa0-5b96-40b1-a38e-c11b604292b8",
            document : null
        };

        $(document).ready(function() {
            loadDocument(config.resourceName, config);
            loadAnnotationSets(config);

            // attach event handler
            $('#document-save').click(function () {
                saveDocument(config);
            });
        });

        function loadDocument (resourceName, config) {
            // load document from loomp
            jQuery.ajax(
            { 
                url: config.server + config.service.get + "?uri=" + data.resourceName, 
                type: 'GET',
                crossDomain: true,
                dataType: 'json'
            }
            ).done(function(response) {
                data.document = response;
                $("#documentTitle").html(data.document.title);
                $("#documentText").html(data.document.content);
                $("#documentText").annotator().annotator('addPlugin', 'Neonion');

                $("#documentText span[about]").each(function() {
                    $(this).attr("class", "annotator-hl");
                });

                restoreAnnotations();
                //console.log(data.document);
            });
        }


        /* Restores the annotation from markup */
        function restoreAnnotations() {
            // TODO
        }

        function loadAnnotationSets(config) {
            // TODO
        }

        function saveDocument(config) {
            var contentNode = Annotator._instances[0].wrapper[0].childNodes[0];
            data.document.content = contentNode.outerHTML;
            //console.log(data.document.content);
            jQuery.ajax(
            { 
                url: config.server + config.service.save, 
                type: 'POST',
                data : { "data" : JSON.stringify(data.document), fmt : "JSON" }
            }).success(function(data, textStatus, jqXHR) {
                console.log(data);

                $("#alert-saved").addClass("in");
                window.setTimeout(function() {
                    $("#alert-saved").removeClass("in");
                    $("#alert-saved").addClass("out");
                }, 3000);
            }).error(function(jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            });        
        }

    </script>
{% endblock %}