{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Import{% endblock %}


{% block top_right %}{% endblock %}


{% block bottom_left %}
    <div class="unit-20">
        <nav class="nav">
            <ul>
                <li><a href="/annotator"><span class="fa fa-home fa-fw"></span>My Neonion</a></li>
                <li><a href="#" id="show_import_dialog" class="nav-active"><span class="fa fa-upload fa-fw"></span>Import</a></li>
                <li><span><span class="fa fa-pencil-square-o fa-fw"></span>Annotate</span></li>
                <li><span><span class="fa fa-bar-chart-o fa-fw"></span>Analyze</span></li>
                <!-- <li><a href="/accounts/profile"><span class="fa fa-child fa-fw"></span>Profile</a></li> -->
                <!-- <li><span><span class="fa fa-cogs fa-fw"></span>Settings</span></li> -->
                <li><a href="/accounts/logout"><span class="fa fa-sign-out fa-fw"></span>Logout</a></li>
                <li id="help-link"><span><span class="fa fa-question fa-fw"></span>Help</span></li>
            </ul>
        </nav>
    </div>
{% endblock %}


{% block bottom_right %}
Please select the files you want to import to your working space.
<div class="unit-80">
    <div class="import-dialog" id="dialog-import">
        <div class="units-row dialog-body">
            <div id="import-form-row">
                <ul id="document-import-list"></ul>
            </div>
        </div>
        <div class="units-row end dialog-foot">
            <span class="btn dialog-cancel-btn mid" onclick="closeImportDialog()">Cancel</span>
            <button class="btn btn-small btn-outline mid" onclick="importSelectedDocuments()">Import</button>
            <div id="document-cache" style="display:none"></div>
        </div>
    </div>
</div>
{% endblock %}


<script language="javascript">

    var selectedDocs = [];

    var docList = [
        { name: "Tätigkeitsbericht der MPG 1964-1965", urn : "Tätigkeitsberichte_der_MPG___Tätigkeitsbericht_der_MPG_1964-1965" },
        { name: "Tätigkeitsbericht der MPG 1958-1960", urn : "Tätigkeitsberichte_der_MPG___Tätigkeitsbericht_der_MPG_1958-1960" },
        { name: "Tätigkeitsbericht der MPG 1972-1973", urn : "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1972-1973" },
        { name: "Tätigkeitsbericht der MPG 1968-1969", urn : "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1968-1969" },
        { name: "Tätigkeitsbericht der MPG 1966-1967", urn : "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1966-1967" },
        { name: "Tätigkeitsbericht der MPG 1964-1965", urn : "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1964-1965" },
        { name: "Tätigkeitsbericht der MPG 1962-1963", urn : "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1962-1963" },
        { name: "Tätigkeitsbericht der MPG 1961-1962", urn : "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1961-1962" },
        { name: "Tätigkeitsbericht der MPG 1960-1961", urn : "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1960-1961" },
        { name: "Tätigkeitsbericht der MPG 1958-1960", urn : "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1958-1960" },
        { name: "Tätigkeitsbericht der MPG 1956-1958", urn : "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1956-1958" },
        { name: "Tätigkeitsbericht der MPG 1954-1956", urn : "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1954-1956" },
        { name: "Tätigkeitsbericht der MPG 1952-1954 Teil1", urn : "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1952-1954_Teil1" },
        { name: "Tätigkeitsbericht der MPG 1952-1954 Teil2", urn : "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1952-1954_Teil2" },
        { name: "Tätigkeitsbericht der MPG 1951-1952", urn : "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1951-1952" },
        { name: "Tätigkeitsbericht der MPG 1946-51 Teil1", urn : "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1946-51_Teil1" },
        { name: "Tätigkeitsbericht der MPG 1946-51 Teil2", urn : "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1946-51_Teil2" },
        { name: "Tätigkeitsbericht der MPG 1946-51 Teil3", urn : "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1946-51_Teil3" }
    ]

    function initImportDialog() {
        $( "#document-import-list" ).selectable();
        // $('dialog').draggable();
        $("#close-dialog-button").click( closeImportDialog );

        updateDocumentTable(docList);

        $("#document-import").click(function() {
            $("#document-import").attr("disabled", true);
            importDocuemt();
        });

    }

    function updateDocumentTable(entries) {
        // clear list
        $("#document-import-list").html('');
        // create docuement import list
        $.each(entries, function(index, value) {
            // var item = new Option( value.urn, value.name );
            var item = $('<li></li>').attr( 'id', value.urn ).text( value.name ).attr('class','ui-widget-content');
            $('#document-import-list').append( item );
        });
    }

    function showImportDialog() {
        // var dialog = document.querySelector('dialog');
        var dialog = $('#dialog');
        console.log( dialog )
        if( !dialog.show ){
           dialogPolyfill.registerDialog(dialog);
        }
        dialog.showModal();
        initImportDialog();
    }

    function closeImportDialog(){
        // var dialog = document.querySelector('dialog');
        var dialog = $('#dialog');
        console.log( dialog )
        if( !dialog.show ){
           dialogPolyfill.registerDialog(dialog);
        }
        dialog.close();
    }

    function importSelectedDocuments(){
        $( '.ui-selected' ).each(function() {
            selectedDocs.push( this.id );
        });

        if (selectedDocs.length > 0) {
            raiseDocumentRetrieval(selectedDocs[0]);
        }
    }

// ------------------------------------------------------ //
// Document retrieval and import to SCMS
// ------------------------------------------------------ //

    function raiseDocumentRetrieval(doc) {
        console.log("Import doc: " + doc);
        $("#document-cache").html("");
        getPageAsync(doc, 1);
    }

    function getPageAsync(doc, pageNum) {
        jQuery.ajax({
            url: sprintf(config.cms.server + config.cms.service.getPage, { uri : doc, pn : pageNum }),
            contentType: 'text/plain',
            type: 'GET',
            xhrFields : { withCredentials: false },
            headers: { },
            success : function(data, textStatus, jqXHR) {
                $("#document-cache").append(data);
                // TEST limit pages
                if (pageNum < 5)
                    getPageAsync(doc, pageNum + 1);
                 else
                    closureDocumentRetrieval(doc);
            },
            error : function(jqXHR, textStatus, errorThrown) {
                if (jqXHR.status == 404) {
                    closureDocumentRetrieval(doc);
                }
            }
        });
    }

    function closureDocumentRetrieval(doc) {
        importDocuemt(doc);

        // remove recenlty imported doc and proceed
        selectedDocs.shift()
        if (selectedDocs.length > 0) {
            raiseDocumentRetrieval(selectedDocs[0]);
        }
        else {
            closeImportDialog();
        }
    }

    function getNormalizedContent() {
        var stripMarkupRegex = /(<([^>]+)>)/ig;
        var stripLinebreaksRegex = /(\r\n|\n|\r)/gm;
        var collapseWhiteSpaceRegex = /\s+/g;
        var fullTrimRegex = /^\s+|\s+$/g;

console.log($("#document-cache").html());

        var paragrapgNodes = $("#document-cache p.ocr_par");
        var paragrapgs = new Array(paragrapgNodes.length);

        // normalize content and store paragraph
        paragrapgNodes.each(function(index, value) {
            paragrapgs[index] = value.innerHTML
            .replace(stripMarkupRegex, "")
            .replace(stripLinebreaksRegex, " ")
            .replace(collapseWhiteSpaceRegex, " ")
            .replace(fullTrimRegex, "");
        });

        // concat content blob
        var content = "";
        $.each(paragrapgs, function(index, value) {
            if (value.length > 0) {
                content += "<p>" + value + "</p>";
            }
        });

        return wrapContent(content);
    }

    function wrapContent(html) {
        return "<span xml:lang='de'>" + html + "</span>";
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function importDocuemt(docUrn) {
        var title = docUrn;
        // get proper title
        docList.forEach(function(element, index, array) {
            if (element.urn == docUrn) {
                title = element.name;
            }
        });

        // assemble POST data
        var entityData = {
            uri : null ,
            title : title,
            content : getNormalizedContent(),
            type : config.scms.uri.elementText,
            dataCreated : 0, lastModified : 0,
        };

        jQuery.ajax({
            url: config.scms.server + config.scms.service.create,
            type: 'POST',
            data : { "data" : JSON.stringify(entityData), fmt : "JSON", csrfmiddlewaretoken : getCookie('csrftoken') }
        }).success(function(data, textStatus, jqXHR) {

        }).error(function(jqXHR, textStatus, errorThrown) {
            console.log(errorThrown);
        });
    }

</script>


