<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1" />

    <title>Neonion - {% block title %}{% endblock %}</title>
    {% load staticfiles %}
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/kube.css' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'css/neonion.css' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
</head>
<body>

{% block top %}
    <div class="bg bg-20"></div>
    <div class="units-row end" id="headline">

        <div class="unit-20">
            {% block top_left %}
            <div class="units-row">
                <h1>ne<span class="orange">o</span>ni<span class="orange">o</span>n</h1>
            </div>
            {% endblock %}
        </div>

        {% block top_right %}

        <!-- <div class=" unit-push-right unit-20 small" id="userInfo">
            {{ user.name }} {{ user.surname }}<br/>
            5 Documents | 3 Annotation Sets
        </div> -->

        <!-- <div class="unit-push-right unit-60">
            <p class="input-groups">
                <input type="text" name="go" placeholder="Search" />
                <span class="btn-append">
                    <button class="btn btn-blue">Search</button>
                </span>
            </p>
        </div> -->
        {% endblock %}

    </div>
{% endblock %}

{% block bottom %}
    <div class="units-row">
        {% block bottom_left %}{% endblock %}
        {% block bottom_right %}{% endblock %}
    </div>
{% endblock %}

{% block content %}{% endblock %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/neonion.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sprintf.js' %}"></script>


    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>

    {% block scripts %}{% endblock %}
</body>