{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Übersicht{% endblock %}

{% block bottom_left %}
    <div class="unit-20">
        <table class="table-simple annotator-nav">
            <tr><td><a href="/annotator"><span class="fa fa-home fa-fw"></span>My Neonion</a></td></tr>
            <tr><td><span><span class="fa fa-pencil-square-o fa-fw"></span>Annotate</span></td></tr>
            <tr><td><span><span class="fa fa-bar-chart-o fa-fw"></span>Analyze</span></td></tr>
            <tr><td><a href="/accounts/profile"><span class="fa fa-child fa-fw"></span>Profile</a></td></tr>
            <tr><td><span><span class="fa fa-cogs fa-fw"></span>Settings</span></td></tr>
            <tr><td><a href="/accounts/logout"><span class="fa fa-sign-out fa-fw"></span>Logout</a></td></tr>
            <tr id="help-link"><td><span><span class="fa fa-question fa-fw"></span>Help</span></td></tr>
        </table>
    </div>
{% endblock %}


{% block bottom_right %}
    <div class="unit-80">
        <table id="document-table" class="table-simple"><tr><td><span class="fa fa-spinner fa-spin"></span> Loading...</td></tr></table>
    </div>

    {% include 'import_dialog.html' %}

{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="{% static 'js/moment.js' %}"></script>

    <script language="javascript">

    $(document).ready(function() {
        loadDocumentList(config);
    });

    function compare_Documents(a,b) {
      if (a.lastModified < b.lastModified)
         return -1;
      if (a.lastModified > b.lastModified)
        return 1;
      return 0;
    }

    function loadDocumentList(config) {
        var documentList = [];
        // load document from loomp
        jQuery.ajax({
            url: sprintf(config.scms.server + config.scms.service.getAll, { type : config.scms.uri.elementText }),
            type: 'GET',
            crossDomain: true,
            dataType: 'json'
        }).done(function(response) {
            response.forEach(function(entry) {
                documentList.push( entry );
            });
            var today = moment().startOf("day");
            var todayLabelSet = false;
            var earlierLabelSet = false;
            $('#document-table').html('<tr><td></td><td><a href="#" id="show_import_dialog">Import new Document</a></td></tr>');

            document.querySelector('#show_import_dialog').onclick = function() {
                showImportDialog();
            };

            documentList.sort( compare_Documents ).reverse().forEach( function( entry ) {
                /* set label for first column (only once for each type) */
                var label = '';
                if( !todayLabelSet && entry.lastModified >= today ){
                    label = 'Today';
                    todayLabelSet = true;
                }
                if( !earlierLabelSet && entry.lastModified < today ){
                    label = 'Earlier';
                    earlierLabelSet = true;
                }
                /* create element for document list and append it */
                var uri = entry.uri.split("/")
                var id = uri[uri.length-1]
                var element = $('<tr></tr>')
                    .append( $('<td class="small"></td>').text( label ) ) // add label (today or earlier)
                    .append($('<td class="element-cell"></td>')
                        .append($('<a href="/annotator/' + id + '">' + entry.title + '</a>'))
                        .append($('<div class="document-list-buttons"></div>')
                            .append('<span class="fa fa-info-circle fa-fw" title="info"></span>')
                            .append('<span class="fa fa-trash-o fa-fw" title="delete"></span>')
                        )
                    );
                $('#document-table').append( element );
            });
        });
    }
    </script>
{% endblock %}