{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Annotationsbereich{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/annotator.min.css' %}" type="text/css" media="screen" />
{% endblock %}

{% block content %}
    <div id="annotationArea" class="col-md-8">Loading...</div>
    <div id="miniMap" class="col-md-4"></div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/annotator.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/annotator.neonion.js' %}"></script>

    <script language="javascript">
        $(document).ready(function() {
          
            // TODO loomp address
            var config = {
                server : "http://localhost:8181/loomp/content/get",
                resourceName : "http://loomp.org/data/0669efda-898e-4ff9-a7da-7c7b723c5aeb"
            }; 
            var url = config.server + "?uri=" + config.resourceName; // + "&callback=?";
            // load document from loomp
            jQuery.ajax(
                { 
                    url: url, 
                    type: 'GET',
                    crossDomain: true,
                    dataType: 'json', 
                    async: false
                }
            ).done(function(response) {
                $("#annotationArea").html(response.content);
                $("#annotationArea").annotator().annotator('addPlugin', 'Neonion');
            });

        });
    </script>
{% endblock %}