{% load staticfiles %}

<dialog class="import-dialog" id='{% block dialogID %}{% endblock %}'>
    <div class="units-row dialog-head" >
        <strong>{% block dialogTitle %}{% endblock %}</strong>
        <span class="fa fa-times-circle" id="close-dialog-button"></span>
    </div>
    <div class="units-row dialog-body">
        <p>{% block dialogDesciption %}{% endblock %}</p>
        {% block dialogContent %}{% endblock %}
    </div>
    <!-- <div class="units-row" id="import-form-row"> -->
    <!-- </div> -->
    <div class="units-row end dialog-foot">
        {% block dialogBottom %}{% endblock %}
    </div>
</dialog>

<link rel="stylesheet" href="{% static 'css/dialog-polyfill.css' %}" type="text/css" media="screen" />
<script type="text/javascript" src="{% static 'js/dialog-polyfill.js' %}"></script>
