{% extends "base_dialog.html" %}

{% block dialogID %}dialog-import{% endblock %}
{% block dialogTitle %}Import from Euler Archive{% endblock %}
{% block dialogDesciption %}Please select the files you want to import to your working space{% endblock %}

{% block dialogContent %}
<form method="post" action="" class="forms">
    <ul class="forms-list" id="document-import-list">
    </ul>
</form>

<script language="javascript">

    var selectedDocs = [];

    var docNames = [
        "Tätigkeitsberichte_der_MPG___Tätigkeitsbericht_der_MPG_1964-1965",
        "Tätigkeitsberichte_der_MPG___Tätigkeitsbericht_der_MPG_1958-1960",
        "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1972-1973",
        "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1968-1969",
        "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1966-1967",
        "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1964-1965",
        "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1962-1963",
        "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1961-1962",
        "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1960-1961",
        "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1958-1960",
        "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1956-1958",
        "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1954-1956",
        "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1952-1954_Teil2",
        "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1952-1954_Teil1",
        "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1951-1952",
        "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1946-51_Teil3",
        "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1946-51_Teil2",
        "Tätigkeitsberichte_der_MPG___MPG_Tätigkeitsbericht_1946-51_Teil1"
    ]

    function initImportDialog() {
        updateDocumentTable(docNames);

        $("#document-import").click(function() {
            $("#document-import").attr("disabled", true);
            importDocuemt();
        });
    }

    function updateDocumentTable(entries) {
        // clear list
        $("#document-import-list").html("");
        // create docuement import list
        $.each(entries, function(index, value) {

            var input = $( '<input type="checkbox" name="documents"></input>' ).attr( 'id', value ).attr( 'value', value );
            var label = $( '<label></label>' ).text( value ).attr( 'for', value );
            var li = $( '<li></li>' ).append(input).append(label);
            $('#document-import-list').append( li );
        });
    }

    function showImportDialog() {
        var dialog = document.querySelector('dialog');
        if( !dialog.show ){
           dialogPolyfill.registerDialog(dialog);
        }
        dialog.showModal();
        initImportDialog();
    }

    function closeImportDialog(){
        var dialog = document.querySelector('dialog');
        if( !dialog.show ){
           dialogPolyfill.registerDialog(dialog);
        }
        dialog.close();
    }

    function importSelectedDocuments(){
        $('input[name="documents"]:checked').each(function() {
            selectedDocs.push(this.value);
        });

        if (selectedDocs.length > 0) {
            raiseDocumentRetrieval(selectedDocs[0]);
        }
    }

// ------------------------------------------------------ //
// Document retrieval and import to SCMS
// ------------------------------------------------------ //

    function raiseDocumentRetrieval(docName) {
        console.log("Import doc: " + docName);
        $("#document-cache").html("");
        getPageAsync(docName, 1);
    }

    function getPageAsync(docName, pageNum) {
        jQuery.ajax({
            url: sprintf(config.cms.server + config.cms.service.getPage, { uri : docName, pn : pageNum }),
            contentType: 'text/plain',
            type: 'GET',
            xhrFields : { withCredentials: false },
            headers: { },
            success : function(data, textStatus, jqXHR) {
                $("#document-cache").append(data);
                // TEST limit pages
                if (pageNum < 20)
                    getPageAsync(docName, pageNum + 1);
                 else
                    closureDocumentRetrieval(docName);
            },
            error : function(jqXHR, textStatus, errorThrown) {
                if (jqXHR.status == 404) {
                    closureDocumentRetrieval(docName);
                }
            }
        });
    }

    function closureDocumentRetrieval(docName) {
        //console.log(getNormalizedContent());
        importDocuemt(docName);

        // remove recenlty imported doc and proceed
        selectedDocs.shift()
        if (selectedDocs.length > 0) {
            raiseDocumentRetrieval(selectedDocs[0]);
        }
        else {
            closeImportDialog();
        }
    }

    function getNormalizedContent() {
        var stripMarkupRegex = /(<([^>]+)>)/ig;
        var stripLinebreaksRegex = /(\r\n|\n|\r)/gm;
        var collapseWhiteSpaceRegex = /\s+/g;
        var fullTrimRegex = /^\s+|\s+$/g;

        var paragrapgNodes = $("#document-cache p.ocr_par");
        var paragrapgs = new Array(paragrapgNodes.length);

        // normalize content and store paragraph
        paragrapgNodes.each(function(index, value) {
            paragrapgs[index] = value.innerHTML
            .replace(stripMarkupRegex, "")
            .replace(stripLinebreaksRegex, " ")
            .replace(collapseWhiteSpaceRegex, " ")
            .replace(fullTrimRegex, "");
        });

        // concat content blob
        var content = "";
        $.each(paragrapgs, function(index, value) {
            if (value.length > 0) {
                content += "<p>" + value + "</p>";
            }
        });

        return wrapContent(content);
    }

    function wrapContent(html) {
        return "<span xml:lang='de'>" + html + "</span>";
    }

    function importDocuemt(title) {
        var entityData = {
            uri : null ,
            title : title,
            content : getNormalizedContent(),
            type : config.scms.uri.elementText,
            dataCreated : 0, lastModified : 0,
        };

        jQuery.ajax({
            url: config.scms.server + config.scms.service.create,
            type: 'POST',
            data : { "data" : JSON.stringify(entityData), fmt : "JSON" }
        }).success(function(data, textStatus, jqXHR) {
             
        }).error(function(jqXHR, textStatus, errorThrown) {
            console.log(errorThrown);
        });
    }

</script>

{% endblock %}

{% block dialogBottom %}
<button class="btn-red" onclick="closeImportDialog()">cancel</button>
<button class="btn-blue" onclick="importSelectedDocuments()">import</button>
<div id="document-cache" style="display:none"></div>
{% endblock %}